a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
html,body{height:auto}body {
	margin-left: 3px;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
}
body,td,th {
	font-size: 14px;
}
.path{color:#ffffff;}
#fileid select{min-width:350px;}

.style1{width: 255px;}
#itemloadid{overflow:hidden;height:0px;width:auto;color:#ffffff;background:#218AB5; text-align:center;line-height:25px;}
#itembodyid{display:none;}
