<extend name="Public/base" />

<block name="title">
    <title>流程设计器</title>    
</block>
<block name="head">
</block><!--end head-->
<block name="body">
<div class="container">
<div class="row" style="padding-top: 10px;">
    <ol class="breadcrumb">
        <li><a href="/">流程设计器</a> <span class="divider">/</span></li>
        <li><a href="{:U('/Flow/demo')}">实例</a> <span class="divider">/</span></li>
        <li class="active"><if condition="empty($one)">添加<else/>编辑</if></li>
    </ol>
</div>

<div class="row">
<form action="{:U('/Flow/demo/'.$_action)}" method="post" style="padding-left: 20px;">
<input type="hidden" value="{$one.id}" name="flow_id">


<p>
    <label>流程名称</label>
    <input type="text" class="span6" placeholder="必填项" name="flow_name" value="{$one.flow_name}">
</p>
    <p>
        <label>流程类型</label>
        <select name="cat_id">
            <option value="0" <if condition="$one['cat_id'] eq 0">selected</if>>普通流程</option>
            <option value="1" <if condition="$one['cat_id'] eq 1">selected</if>>列表流程</option>
            <option value="2" <if condition="$one['cat_id'] eq 2">selected</if>>全自动流程</option>
            <option value="3" <if condition="$one['cat_id'] eq 3">selected</if>>委托流程</option>
        </select>
    </p>
<p>
    <label>选择表单</label>
    <!--<select name="form_id">
        <volist name="form_list" id="vo">
        <option value="{$vo.id}" <if condition="$vo['id'] eq $one['form_id']">selected="selected"</if>>{$vo.form_name}</option>
        </volist>
    </select>-->
        <select name="form_id[]" size="3" multiple id="select">
            <volist name="form_list" id="vo">
                <option value="{$vo.id}" <if condition="in_array($vo['id'],$flow_form_ids)">selected="selected"</if>>{$vo.form_name}</option>
            </volist>
        </select>

</p>

<p>
    <label>流程描述</label>
    <textarea rows="4" class="span6" placeholder="简单描述一下也好呀" name="flow_desc">{$one.flow_desc}</textarea>
</p>
<button type="submit" name="submit_to_save" value="save" class="btn btn-success">确定保存</button>
</form>


</div><!--end row-->
</div><!--end container-->




<block name="footer_js">

<!-- script end -->


</block><!--end footer_js-->