.bin_ico_01_03{background:url("/resource/images/common/mobile_ico/01_03.png") no-repeat 5px 50%;background-size:30px 30px}
.bin_ico_01_06{background:url("/resource/images/common/mobile_ico/01_06.png") no-repeat 5px 50%;background-size:30px 30px}
.bin_ico_01_08{background:url("/resource/images/common/mobile_ico/01_08.png") no-repeat 5px 50%;background-size:30px 30px}
.bin_ico_01_10{background:url("/resource/images/common/mobile_ico/01_10.png") no-repeat 5px 50%;background-size:30px 30px}
.bin_ico_01_12{background:url("/resource/images/common/mobile_ico/01_12.png") no-repeat 5px 50%;background-size:30px 30px}

