    body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
body{ font-family:"ºÚÌå";}

.line96box{position:fixed;background:#ffffff;line-height:97px;height:auto;width:100%;overflow:hidden;}
.line96box .right input{width:100px;}

.f1240x613{width:410px;height:233px;background:url(/resource/images/loginimages/top.gif) no-repeat; margin:0 auto;padding-left:830px;padding-top:380px;}
.f1240x613 a{border-radius:5px;width:212px;height:52px;line-height:52px;font-size:22px;color:#ffffff; font-weight:bold; text-align:center;background:#EA9522; display:block;}

.line96{height:auto;line-height:96px;max-width:1240px;overflow:hidden;border-bottom:1px solid #A4B5B9; margin:0 auto;}
.line96 .w230{width:150px;float:left;height:96px;}
.line96 .w1{width:2px;float:left;overflow:hidden;padding-top:15px;}
.line96 .w1 div{width:2px;height:70px;background:#619DBF;overflow:hidden;}

.line96 .w285{ padding-left:35px;width:235px;float:left;height:96px;line-height:96px;color:#227FAB;font-weight:bold;overflow: hidden}
.line96 .w285 h2{ display:inline;}
.line96 .right{width:auto;float:right;height:96px;line-height:96px; padding-right:65px}

.line97box{height:97px;width:auto; overflow:hidden;}

.line90{height:90px;width:1240px;margin:0 auto; overflow:hidden;line-height:90px;}

.linelr{height:auto;width:1240px;margin:0 auto;overflow:hidden}
.linelr .left{float:left;}
.linelr .right{float:left;}
.linelr .bg1{background:url(/resource/images/loginimages/computer0.gif) no-repeat 75px 0;width:673px;height:393px;}
.linelr .bg2{background:url(/resource/images/loginimages/23.gif) no-repeat 75px 0;width:565px;height:177px;}


.diy{height:auto;width:1240px;margin:0 auto;overflow:hidden}
.diy .left{float:left;padding-top:35px;}
.diy .right{float:right;padding-top:35px;}
.diy .center{float:left; font-size:50px; width:344px;font-weight:bold; text-align:center;line-height:68px;color:#527596;}
.diy .left div{width:446px;height:1px; overflow:hidden;background:#A4B5B9;}
.diy .right div{width:446px;height:1px; overflow:hidden;background:#A4B5B9;}

.font25{font-size:25px; text-align:center;color:#666666;}

.linelr .txt span{font-size:30px;color:#527596; display:block;height:100px;line-height:100px; text-align:center;}
.linelr .txt{ padding-left:100px;padding-right:100px;width:317px;line-height:40px;font-size:20px;}
.linelr .bg3{background:url(/resource/images/loginimages/computer3.gif) no-repeat 75px 0;width:500px;height:320px;}

.linelr .bg4{background:url(/resource/images/loginimages/computer4.gif) no-repeat 75px 0;width:500px;height:320px;}

.linelr .w458{width:458px;}

.linelr .bg5{background:url(/resource/images/loginimages/computer5.gif) no-repeat 75px 0;width:500px;height:320px; }
.linelr .bg6{background:url(/resource/images/loginimages/computer6.gif) no-repeat 75px 0;width:500px;height:320px;}

.linelr .left1{float:left;width:175px;font-family:"Î¢ÈíÑÅºÚ";font-size:15px; text-align:center;line-height:30px;}
.linelr .left1 span{font-size:18px; font-weight:bold; display:block;line-height:65px;}
.linelr .lbg1{background:url(/resource/images/loginimages/computer14.gif) no-repeat 120px 0;width:158px;height:auto; padding-top:159px; padding-left:120px;}
.linelr .lbg2{background:url(/resource/images/loginimages/computer16.gif) no-repeat 120px 0;width:158px;height:auto; padding-top:159px; padding-left:120px;}
.linelr .lbg3{background:url(/resource/images/loginimages/computer18.gif) no-repeat 120px 0;width:158px;height:auto; padding-top:159px; padding-left:120px;}
.linelr .lbg4{background:url(/resource/images/loginimages/computer20.gif) no-repeat 120px 0;width:158px;height:auto; padding-top:159px; padding-left:120px;}

.font25 .span{width:90%;line-height:45px; margin:0 auto}

.w1400box{width:1040px;margin:0 auto;overflow:hidden}
.w1400box .w1400boxRight{float:right;width:910px;height:auto; overflow:hidden}
.w1400{width:auto;height:auto; overflow:hidden;}
.w1400 .left{float:left;width:320px;height:120px;padding-left:130px;}
.w1400 span{ display: block;width: 190px;line-height: 35px;padding-top: 17px;font-size:22px;font-family:"Î¢ÈíÑÅºÚ";}

.w1400 .bg1{background:url(/resource/images/loginimages/computer26.gif) no-repeat 0 0;}
.w1400 .bg2{background:url(/resource/images/loginimages/computer29.gif) no-repeat 0 0;}
.w1400 .bg3{background:url(/resource/images/loginimages/computer33.gif) no-repeat 0 0;}
.w1400 .bg4{background:url(/resource/images/loginimages/computer34.gif) no-repeat 0 0;}
.w1400 .bg5{background:url(/resource/images/loginimages/computer37.gif) no-repeat 0 0;}
.w1400 .bg6{background:url(/resource/images/loginimages/computer38.gif) no-repeat 0 0;}
.w1400 .bg7{background:url(/resource/images/loginimages/computer41.gif) no-repeat 0 0;}
.w1400 .bg8{background:url(/resource/images/loginimages/computer42.gif) no-repeat 0 0;}

.lineimg{width:1040px;margin:0 auto;height:auto;}
.lineimg .img1{background:url(/resource/images/loginimages/computer1.gif) no-repeat;width:477px;height:280px;float:left; padding-right:65px;}
.lineimg .img2{background:url(/resource/images/loginimages/computer2.gif) no-repeat;width:349px;height:284px;float:left;}

.diy .w386{width:386px; text-align:center;}
.diy .w425 div{width:425px;}

.w955{width:1000px;height:auto; overflow:hidden; margin: 0 auto;line-height:35px;font-size:18px;}

div .f212x52{border-radius:5px;width:212px;height:52px;line-height:52px;font-size:22px;color:#ffffff; font-weight:bold; text-align:center;background:#477697; display:block; margin:0 auto;}

.diy .fsize35{font-size:35px;}


.diy .w200{width:200px; text-align:center;}
.diy .w520 div{width:520px;}

.diy .w100{width:100px; text-align:center;}
.diy .w570 div{width:570px;}


