@charset "utf-8";
/* CSS Document */

.containerwrap{
	width:100%;
}
.containerI{
	width:100%;
	height:207px;
	background:#eaf6fd;
	padding-top:38px;
}
.containerIcon{
	width:1000px;
	height:207px;
	margin:0 auto;
}
.containerII{
	width:100%;
	height:207px;
	background:#fff;
	padding-top:38px;
}
.containerIIcon{
	width:1000px;
	height:207px;
	margin:0 auto;
}
.producbox{
	width:228px;
	height:186px;
	float:left;
	padding-left:53px;
	padding-right:52px;
}
.producboxcon{
	width:313px;
	height:186px;
}

.produc_iconzhxy{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/zhxy.png) no-repeat;
}
.produc_iconzhxytxt{
	width:68px;
	height:77px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	text-align:center;
	padding-top:23px;
}


.produc_icontongcheng{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/tongcheng.png) no-repeat;
}
.produc_icontongchengtxt{
	width:68px;
	height:77px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	text-align:center;
	padding-top:23px;
}
.produc_iconhuagong{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/huagong.png) no-repeat;
}
.produc_iconhuagongtxt{
	width:84px;
	height:77px;
	margin:0 auto;
	font-size:56px;
	color:#fff;
	padding-top:23px;
}
.produc_iconnongye{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/nongye.png) no-repeat;
}
.produc_iconnongyetxt{
	width:104px;
	height:124px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	line-height:124px;
	text-align:center;
}
.produc_iconjiaoyi{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/jiaoyi.png) no-repeat;
}

.produc_iconjiaoyitxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}
.produc_iconmenhu{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/menhu.png) no-repeat;
}

.produc_iconmenhutxt{
	width:68px;
	height:77px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	text-align:center;
	padding-top:23px;
}
.produc_iconhuangye{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/huangye.png) no-repeat;
}

.produc_iconhuangyetxt{
	width:68px;
	height:77px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	text-align:center;
	padding-top:23px;
}
.produc_iconxinwen{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/xinwen.png) no-repeat;
}
.produc_iconxinwentxt{
	width:68px;
	height:77px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	text-align:center;
	padding-top:23px;
}
.produc_iconzhaopin{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/zhaopin.png) no-repeat;
}
.produc_iconzhaopintxt{
	width:68px;
	height:77px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	text-align:center;
	padding-top:23px;
}
.produc_iconboke{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/weibo.png) no-repeat;
}
.produc_iconboketxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconshangcheng{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/shangcheng.png) no-repeat;
}
.produc_iconshangchengtxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconyonghuguanli{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/yonghuguanli.png) no-repeat;
}
.produc_iconyonghuguanlitxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}
.produc_iconshiping{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/shiping.png) no-repeat;
}
.produc_iconshipingtxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconguanggao{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/guanggao.png) no-repeat;
}
.produc_iconguanggaotxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconbbs{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/bbs.png) no-repeat;
}
.produc_iconbbstxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconluyou{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/luyou.png) no-repeat;
}
.produc_iconluyoutxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconweixin{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/weixin.png) no-repeat;
}
.produc_iconweixintxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconzhengfu{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/dzzw.png) no-repeat;
}
.produc_iconzhengfutxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconyiliao{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/yiliao.png) no-repeat;
}
.produc_iconyiliaotxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}
.produc_icontuangou{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/tuangou.png) no-repeat;
}
.produc_icontuangoutxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconzhengfu2{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/gszw.png) no-repeat;
}
.produc_iconzhengfu2txt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconzhongchou{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/zhongchou.png) no-repeat;
}
.produc_iconzhongchoutxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconcrm{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/crm.png) no-repeat;
}
.produc_iconcrmtxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconerp{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/ERP.png) no-repeat;
}
.produc_iconerptxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconoa{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/OA.png) no-repeat;
}
.produc_iconoatxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_icongcgl{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/gcgl.png) no-repeat;
}
.produc_icongcgltxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_iconjxc{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/jxc.png) no-repeat;
}
.produc_iconjxctxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}

.produc_icontbgl{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(/resource/images/login/tbgl.png) no-repeat;
}
.produc_icontbgltxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}


.produc_rigc{
	width:114px;
	height:186px;
	float:left;
	position:relative;
}
.btnwrap{
	width:17px;
	height:16px;
	margin:0 auto;
	}

.produc_btn_up{

	width:17px;
	height:16px;
	margin:0 auto;
	background:url(/resource/images/login/indexgg.png) no-repeat -858px 0px;
	position:relative;
	cursor:pointer;
}
.produc_btn_down{

	width:17px;
	height:16px;
	margin:0 auto;
	background:url(/resource/images/login/indexgg.png) no-repeat -858px -108px;
	position:relative;
	cursor:pointer;
}

.produc_tet{
	width:114px;
	height:153px;
	overflow:hidden;
	position:relative;
}
.produc_tet ul{
	position:relative;
	}
.produc_tet ul li{
	text-align:center;
	line-height:51px;
	
}
.produc_tet ul li a{
	font-size:18px;
	color:#267aa3;
}
.produc_tet ul li a:hover{
	color:#F60;
}


