@charset "utf-8";
/* CSS Document */

.campwrap{
	width:100%;
}

.cambanwrap{
	width:100%;
	height:674px;
}
.cambancon_imgwrap{
	width:100%;
	height:300px;
	background:#f1f9fc;
}
.cambancon{
	width:1000px;
	height:300px;
	margin:0 auto;
	background: url(../images/campusba1.gif) no-repeat;
}
.cambancon_imgwrapII{
	width:100%;
	height:243px;
	background:#FFF;
}
.cambanconII{
	width:1000px;
	height:243px;
	margin:0 auto;
	background:url(../images/campusba2.gif) no-repeat;
}
.cambantetwrap{
	width:100%;
	height:100px;
	background:#ecf7fd;
}
.cambantet{
	width:1000px;
	height:110px;
	margin:0 auto;
	padding:10px 0;
}
.cambantet p{
	line-height:1.8;
	font-size:18px;
}

.camkqglwrap{
	width:100%;
	height:390px;
	background:#fff;
}
.camkqcon{
	width:1000px;
	height:390px;
	margin:0 auto;
}
.camkqcon_left{
	width:484px;
	height:364px;
	margin-top:28px;
	display:inline;
	background:url(../images/kqgl.gif) no-repeat;
	float:left;
}
.camkqgl_rig{
	width:416px;
	height:360px;
	float:left;
	padding-left:100px;
	padding-top:30px;
	
}
.camkqgl_rigsp{
	width:416px;
	height:60px;
	text-align:center;
	font-size:26px;
	}
.camkqgl_rigp{
	width:416px;
	height:300px;
	margin-top:10px;
	margin-bottom:10px;
	line-height:1.8;
	font-size:20px;
	color:#2883af;
}


