@charset "utf-8";
/* CSS Document */

.stuwrap{
	width:100%;
}
.stubanwrap{
	width:100%;
	height:470px;
	background:#ecf7fd;
}
.stubancon{
	width:100%;
	height:391px;
	background:#fff;
	
}
.stubanner{
	width:1000px;
	height:391px;
	background:url(../images/studentban.gif) no-repeat;
	margin:0 auto;
}
.stubannertet{
	width:1000px;
	height:79px;
	font-size:18px;
	color:#1c7699;
	line-height:1.6;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

.jctbwrap{
	width:100%;
	height:300px;
	background:#fff;
}
.jctbcon{
	width:1000px;
	height:258px;
	margin:0 auto;
	padding-top:42px;
}
.jctbcontet_left{
	width:638px;
	height:242px;
	padding-top:15px;
	float:left;
}
.jctbcon_img_rig{
	width:362px;
	height:300px;
	float:left;
	background: url(../images/jctb.gif) no-repeat;
}

.jctbcontettit{
	width:638px;
	height:100px;
	text-align:center;
}
.jctbcontettit span{
	font-size:26px;
	line-height:1.9;
	}
.jctbcontettit p{
	font-size:14px;
}
.jctbcontetcon{
	width:565px;
	height:142px;
	text-align:left;
}
.jctbcontetcon p{
	font-size:18px;
	line-height:1.8;
}

.mstjwrap{
	width:100%;
	height:300px;
	background:#ecf7fd;
}
.mstjcon{
	width:1000px;
	height:300px;
	margin:0 auto;
}
.mstjcon_left{
	width:477px;
	height:297px;
	background:url(../images/mstj.gif) no-repeat;
	float:left;
}
.mstjcon_rig{
	width:423px;
	height:250px;
	float:left;
	padding-left:100px;
	padding-top:50px;
}
.mstjcon_rigtettit{
	width:423px;
	height:100px;
	text-align:center;
}
.mstjcon_rigtettit span{
	font-size:26px;
	line-height:1.9;
	}
.mstjcon_rigtettit p{
	font-size:14px;
}
.mstjcon_rigtetcon{
	width:423px;
	height:142px;
	text-align:left;

}
.mstjcon_rigtetcon p{
	font-size:20px;
	line-height:1.8;
	color:#1c7699;
}