
<div class="admin_top_bg">
    <table width="98%" height="70" border="0" cellpadding="0" cellspacing="0">
        <tr><td width="200" rowspan="2" align="right" valign="middle" ><div align="center" class="login_title"><h1>胜网科技</h1><span>Wins net technology</span></div>
        </td>
            <td height="39" align="right" valign="middle" class="link_w">
                欢迎超级管理员：<strong style="color: #99FF00">&nbsp; 登录&nbsp;&nbsp; &nbsp;&nbsp; <a href="/front/main/mainpage.php"  onClick="tuichu()" target="_parent">[退出]</a>&nbsp;&nbsp;&nbsp; <a href="http://www.goodhead.cn" target="_blank">官方网站</a></td>
        </tr>
        <tr>
            <td height="31" valign="bottom" class="admin_top_nav">
                <!--<a href="main.php" target="mainFrame" class="select" id="index">首页</a>
                <a href="../new_organizesetting/bumenTree.html" target="mainFrame" id="orgsetting">角色设置</a>
                <a href="../flowsetting/index.htm" target="mainFrame" id="flowsetting">流程设置</a>-->
                <!--<a href="../new_powerdesign/quanxian.htm" target="mainFrame" id="powersetting">权限设置</a>	-->
                <a href="#" target="mainFrame" id="pagesetting">表单设置</a>
                <a href="#" target="mainFrame" id="oaflowsetting">OA流管理</a>
                <a href="#" target="mainFrame" id="personmanage">人员管理</a>
                <a href="#" target="mainFrame" id="serversetting">服务器状态</a>
                <a href="#" target="mainFrame" id="setting">网站配置</a>
                <a href="#" target="mainFrame" id="personmanage">数据视图</a>
                <div class="clear"></div>
            </td>
        </tr>
    </table>
</div>
</body>
