@charset "utf-8";
/* CSS Document */

.containerwrap{
	width:100%;
}
.containerI{
	width:100%;
	height:207px;
	background:#eaf6fd;
	padding-top:38px;
}
.containerIcon{
	width:1000px;
	height:207px;
	margin:0 auto;
}
.containerII{
	width:100%;
	height:207px;
	background:#fff;
	padding-top:38px;
}
.containerIIcon{
	width:1000px;
	height:207px;
	margin:0 auto;
}
.producbox{
	width:228px;
	height:186px;
	float:left;
	padding-left:53px;
	padding-right:52px;
}
.producboxcon{
	width:313px;
	height:186px;
}
.produc_iconzhxy{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(../images/indexgg.png) no-repeat 0 0;
}
.produc_iconzhxytxt{
	width:68px;
	height:77px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	text-align:center;
	padding-top:23px;
}
.produc_iconoa{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(../images/indexgg.png) no-repeat -131px 0;
}
.produc_iconoatxt{
	width:84px;
	height:77px;
	margin:0 auto;
	font-size:56px;
	color:#fff;
	padding-top:23px;
}
.produc_iconjxc{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(../images/indexgg.png) no-repeat -270px 0;
}
.produc_iconjxctxt{
	width:104px;
	height:124px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	line-height:124px;
	text-align:center;
}
.produc_iconcrm{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(../images/indexgg.png) no-repeat -407px 0;
}

.produc_iconcrmtxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}
.produc_iconckgl{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(../images/indexgg.png) no-repeat -547px 0;
}

.produc_iconckgltxt{
	width:68px;
	height:77px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	text-align:center;
	padding-top:23px;
}
.produc_icongcgl{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(../images/indexgg.png) no-repeat -684px 0;
}

.produc_icongcgltxt{
	width:68px;
	height:77px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	text-align:center;
	padding-top:23px;
}
.produc_iconwdgl{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(../images/indexgg.png) no-repeat -0px -138px;
}
.produc_iconwdgltxt{
	width:68px;
	height:77px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	text-align:center;
	padding-top:23px;
}
.produc_iconwlgl{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(../images/indexgg.png) no-repeat -131px -138px;
}
.produc_iconwlgltxt{
	width:68px;
	height:77px;
	margin:0 auto;
	font-size:28px;
	color:#fff;
	text-align:center;
	padding-top:23px;
}
.produc_iconERP{
	width:124px;
	height:124px;
	float:left;
	margin-top:30px;
	background:url(../images/indexgg.png) no-repeat -270px -138px;
}
.produc_iconERPtxt{
	width:90px;
	height:77px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
	padding-top:38px;
	text-align:center;
}
.produc_rigc{
	width:114px;
	height:186px;
	float:left;
	position:relative;
}
.btnwrap{
	width:17px;
	height:16px;
	margin:0 auto;
	}

.produc_btn_up{

	width:17px;
	height:16px;
	margin:0 auto;
	background:url(../images/indexgg.png) no-repeat -858px 0px;
	position:relative;
	cursor:pointer;
}
.produc_btn_down{

	width:17px;
	height:16px;
	margin:0 auto;
	background:url(../images/indexgg.png) no-repeat -858px -108px;
	position:relative;
	cursor:pointer;
}

.produc_tet{
	width:114px;
	height:153px;
	overflow:hidden;
	position:relative;
}
.produc_tet ul{
	position:relative;
	}
.produc_tet ul li{
	text-align:center;
	line-height:51px;
	
}
.produc_tet ul li a{
	font-size:18px;
	color:#267aa3;
}
.produc_tet ul li a:hover{
	color:#F60;
}


