<link rel="stylesheet" href="./css/qiyezhuce.css">
<link rel="stylesheet" href="../../account/assets/css/bootstrap.min.css">
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>

<style>
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
    .show{
        display: block;
    }
    .hien{
        display: none;
    }
    /* 注册页面 */
    #main_wraper{
        display: none;
    }
</style>
<!-- 验证页面 -->
<div class="wraper" id="wraper">
        <div id="commonForm">
            <div class="logo">
               <span></span>
                <span class="text">注册胜网科技账号</span>
                <div class="regtypetip ">自由工作，高效管理</div>
            </div>
            <div class="tabtoggle">
                <a href="javascript:;" class="current">
                    <span class="regnew ">注册胜网</span>
                </a>
                <a href="javascript:;">
                    <span class="enterhas">加入已有企业
                      <small>(邀请码注册)</small>
                    </span>
                </a>
            </div>
            <!--内容区-->
            <div class="register_wrap">
               <div class="show">
                   <!--手机号码-->
                   <div class="ng-scope">
                       <!--手机号码输入-->
                       <div class="inputwrap clearfix email_input_wrap">
                           <!--区号和提示-->
                           <div class="mobiarea">
                               <label id="regway-list-label" class="inline_block username_type_switch">
                                   <span class="area-code-wrap ng-binding">+86</span>
                                   <i class="icon-arrowdown ng-hide"></i>
                               </label>
                               <ul class="regway-list mobile-phone-area-code" id="regway-list"></ul>
                           </div>
                           <!--号码输入框-->
                           <div class="regmobi">
                               <input  type="number" id="email"    placeholder="请输入手机号"  class="padr1" name="username" >
                           </div>
                           <a href="javascript:void(0);" class="inputclear input-clear"><i class="icon-clear"></i></a>
                       </div>
                   </div>
                   <!--验证码-->
                   <div class="auth-code" ng-auth-code="register">
                       <div class="verify-code from-item">
                           <div class="img-code-wrap clearfix smswrap" ng-class="{errorfocus:codeError}">
                               <div class="img-code authcode inputwrap img-code-row">
                                   <img class="code-img" ng-click="change_code()" id="codeImg" src="./images/code_image.png">
                                   <div class="code-input-wrap">
                                       <input class="code-input" style="background:#fff;" id="code" ng-limit-code="4" ng-keydown="verifyCodeKeyDown($event)" ng-focus="vaCodeFocus($event)" ng-blur="vaCodeBlur($event)" type="text" placeholder="请输入图片内容" history_value="" name="password" tabindex="2">
                                   </div>
                               </div>
                           </div>
                           <!-- 图片验证码初始化状态 -->
                           <div class="errortip ng-binding ng-hide" ng-class="{error:codeError}" ng-show="codeError" ng-init="codeError=0" ng-bind-html="codeErrorTip|rawHtml"></div>
                           <div class="clearfix smswrap" ng-class="{errorfocus:authCodeError}">
                               <div class="authcode">
                                   <input ng-limit-code="6" autocomplete="off" type="text" id="authCode" placeholder="请输入短信验证码" ng-focus="vaAuthCodeFocus($event)" ng-blur="vaAuthCodeBlur($event)" history_value="" name="password" tabindex="3">
                               </div>
                               <div class="btn-wrap smswrap btn-wrap-getCode">
                                   <a href="javascript:void(0);" class="getauth effect" ng-class="{regetauth:authWait,effect:!sendProgress,success:authSuccess}" ng-click="getAuthCode($event)" ng-init="usernameRight=false;authWait=false;authSuccess=false;sendProgress=false;"><i class="icon-authsuccess"></i><span class="ng-binding">获取短信验证码</span></a>
                               </div>
                           </div>
                           <div class="errortip ng-binding ng-hide" ng-class="{error:authCodeError}" ng-show="authCodeError" ng-init="authCodeError=0" ng-bind-html="authCodeErrorTip|rawHtml"></div>
                       </div>
    
                   </div>
                   <!--下一步-->
                   <div class="submitwrap">
                       <a href="javascript:;" class="btn-submit next" submit-click="form_submit()" ng-init="submitBtnText=('next' | translate)">下一步</a>
                   </div>
                   <!--了解-->
                   <div class="backreg">
                       <!-- ngIf: !isInternational --><a ng-if="!isInternational" ng-click="knowJingoal($event)" href="http://localhost:63342/8.26_news02/8.26/index.html#/school" target="_blank" class="ng-binding ng-scope">了解胜网</a><!-- end ngIf: !isInternational -->
                       <!-- ngIf: bodyRegisterType==='email' -->
                       <!-- ngIf: isInternational && bodyRegisterType==='phone' -->
                   </div>
               </div>
                <div class="hien">
                    <div class="inputwrap clearfix ng-scope" ng-init="iCodeError=0;" ng-class="{errorfocus:iCodeError}">
                        <input type="text" id="iCode" placeholder="邀请码" class="cutpad" ng-focus="vCodeFocus($event)" ng-blur="vCodeBlur($event)" name="password" tabindex="1">
                    </div>
                    <div class="inputwrap clearfix ng-scope" ng-init="companyCodeError=0;" ng-class="{errorfocus:companyCodeError}">
                        <input type="text" id="companyCode" placeholder="企业号" class="cutpad" ng-focus="companyCodeFocus($event)" ng-blur="companyCodeBlur($event)" name="password" tabindex="2">
                    </div>
                    <div class="submitwrap ng-scope">
                        <a href="javascript:void(0);" class="btn-submit ng-binding" submit-click="joinRegister()">下一步</a>
                    </div>
                    <div class="backreg ng-scope">
                        <a ng-click="noInviteCode($event)" href="icode_error.html?lang=zh_CN&amp;isInter=false" target="_blank" class="ng-binding">没有邀请码？</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- ................................................. -->

<!-- 注册页面 -->
<div class="wraper" id="main_wraper">
    <!-- 头部 -->
<div class="register-company-account-wrap">
    <div class="header">
        <h1>
            注册胜网帐号
        </h1>
       <h2 class="">
            完善信息，注册企业
        </h2>
    </div>
    <!-- 姓名 -->
    <div class="register_wrap">
        <div class="inputwrap input-person-name">
            <input id="personName" type="text" placeholder="姓名" class="cutpad" name="password" tabindex="1">
        </div>
        <div class="errortip"></div>
    <div>
</div>
        <!-- 密码 -->
<div class="inputwrap input-password" >
    <label class="lable-login"><i class="icon-lock"></i></label>
    <input id="password" type="password" placeholder="密码" validate="" name="password" class="cutpad"tabindex="2">
    <a href="javascript:void(0);" class="input-clear inputclear reset_pass"><i class="icon-clear"></i></a>
    <a href="javascript:void(0);" class="inputclear psd-visible" ondragstart="return false;"><i class="icon-eye"></i></a>
    <div class="inputProgress ng-hide" >
        <span class="triangle">
            <span class="inner"></span>
        </span>
        <ul class="tip-list">
            <li class="tip-item item1 normal">
                <i class="tip-icon"></i><span class="tip-text">长度8-20位</span>
            </li>
            <li class="tip-item item2 normal">
                <i class="tip-icon"></i><span class="tip-text">支持数字、字母（区分大小写）、标点符号</span>
            </li>
            <li class="tip-item item3 normal">
                <i class="tip-icon"></i><span class="tip-text">不允许空格</span>
            </li>
        </ul>
    </div>
    <div class="passwordLevel ng-hide" >
        <div class="level-wrap level1 ng-hide">
            <div class="icon">
                <span class="label">安全级别：</span>
                <div class="level-list">
                    <span class="level-item item1">弱</span>
                    <span class="level-item item2"></span>
                    <span class="level-item item3"></span>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="tip ng-binding">
                您的密码有风险，请使用数字、字母或标点符号的组合
            </div>
        </div>
        <div class="level-wrap level2 ng-hide" ng-show="passwordLevel===2">
            <div class="icon">
                <span class="label ng-binding">安全级别：</span>
                <div class="level-list">
                    <span class="level-item item1"></span>
                    <span class="level-item item2">中</span>
                    <span class="level-item item3"></span>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="tip">
                您的密码安全度适中，可尝试加入大小写混合密码
            </div>
        </div>
         <div class="level-wrap level3 ng-hide" ng-show="passwordLevel===3||passwordLevel===4">
            <div class="icon">
                <span class="label ng-binding">安全级别：</span>
                <div class="level-list">
                    <span class="level-item item1"></span>
                    <span class="level-item item2"></span>
                    <span class="level-item item3">强</span>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="tip ng-binding">
                您的密码很安全，建议您定期更换密码以保证帐号安全
            </div>
        </div>
    </div>
</div>

<div class="errortip ng-binding"></div>

<!-- 协议和注册按钮 -->
</div>
        <div class="tiptext disagree">
            <label for="ieagreelable" class="ng-binding"><i style="display:none;"  class="icon-checked"></i><input id="ieagreelable" type="checkbox" checked="" class="position_hidden">点击“注册”即同意并接受</label>
            <!-- ng-model="isAgree" -->
            <!-- ngIf: !isInternational -->
            <a target="_blank" ng-if="!isInternational" href="http://www.jingoal.com/register/serve_treaty.html" class="font_blue ng-binding ng-scope" data-toggle="modal"  data-target="#myModal">《服务协议》</a>
           
        </div>
        <!-- <div class="errortip disagree">要使用我们的服务，您必须同意今目标的服务协议</div> -->
    </div>
    <div class="submitwrap">
        <a href="javascript:void(0);" class="btn-submit ng-binding" submit-click="form_submit()">注册</a>
    </div>
    <div class="backreg">
        <!--<a ng-click="knowJingoal($event)" href="{{websiteURL}}" target="_blank">{{ 'understandJG' | translate }}</a>-->
    </div>
    <!-- <div class="errortip ">企业成员数超过上限，无法创建新帐号。您可以联系管理员停掉其他无用帐号后再尝试创建。</div> -->
</div>

<!-- 模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" 
                    data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                    用户协议
                    </h4>
                </div>
                <div class="modal-body">
                    在这里添加一些文本
                </div>
                <div class="modal-footer">
                    <input type="checkbox" style="width:45px;height:20px;line-height:20px">
                        <button type="button" class="btn btn-primary">
                    同意
                    </button>
                </div>

            </div>
        </div>	<!-- /.modal-content -->
</div>

<script>

    var zhuce = $(".tabtoggle").children()[0]   //注册
    var qiye = $(".tabtoggle").children()[1]       //企业

    var zhuces = $(".register_wrap").children()[0]
    var qiyes = $(".register_wrap").children()[1]

    var register_wrap = $(".register_wrap").children()
 
    zhuce.onclick = function(){
        $(this).addClass("current").siblings().removeClass("current")
        if(zhuces.classList.contains('hien')){
            $(zhuces).removeClass("show hien")
        }
        //点击注册,注册添加show,企业添加hien,删除show
        $(zhuces).addClass("show")
        $(qiyes).addClass("hien")
        $(qiyes).removeClass("show")
    }

    qiye.onclick=function(){
        $(this).addClass("current").siblings().removeClass("current")
        if(qiyes.classList.contains('hien')){
            $(qiyes).removeClass("show hien")
        }
        $(qiyes).addClass("show")
        $(zhuces).addClass("hien")
        $(zhuces).removeClass("show")
    }

    //手机号验证
    $("#email").blur(function(){
        var phone = $("#email").val();
        if(!(/^1(3|4|5|7|8)\d{9}$/.test(phone))){

        }
    })
    // 点击下一步,显示注册页面
    $(".next").on("click",function(){
            $("#wraper").fadeOut()
            $("#main_wraper").fadeIn()
    })
    
</script>
