<meta charset="UTF-8"/>
<style type="text/css">
	
	.clearfix:after {
		content: "";
		height: 0;
		display: block;
		clear: both;
		visibility: hidden;
		overflow: hidden;
	}
	
	.admin_left_box {
		width: 190px;
		/*float: left;*/
		position:absolute;
		top: 70px;
	}
	
	.admin_main_nr_dbox {
		width: 1088px;
		position: absolute;
		left: 196px;
		top: 70px;
		color: #000;
	}
	.admin_frameset{
		margin-top: 70px;
		margin-left: 196px;
	}
</style>
<div class="server_box">
	<script type="text/javascript">
		$(document).ready(function() {
			$("li").first().addClass("hover");
			$("li>a").click(function() {
				$("li").removeClass("hover");
				$(this).parent().addClass("hover");
				$(this).blur();
			})
		})
	</script>
	<div class="admin_left_box">
		<ul>
			<li>
				<!--../../s/monitor/df_monitor.php-->
				<a href="javascript:;" target="mainFrame">空间占用情况</a>
			</li>

			<li>
				<a href="javascript:;" target="mainFrame">性能监控</a>
			</li>

			<li>
				<a href="javascript:;" target="mainFrame">数据连接监控</a>
			</li>

		</ul>
	</div>
	<div class="admin_main_nr_dbox" style="height: 535px;">
		<table width="100%" height="100%">
			<tr>
				<td align="center" valign="middle">欢迎进入数据管理平台</td>
			</tr>
		</table>
	</div>
	<div class="admin_frameset">
		<div class="open_frame" title="全屏" id="open_frame" flag="min"></div>
		<div class="close_frame" title="还原窗口" id="close_frame" flag="min"></div>
	</div>
</div>