<extend name="Public/base" />
<block name="title">
    <title>实例演示</title>    
</block>
<block name="head">
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js?{$_cjv}"></script>
</block><!--end head-->
<block name="body">
<div class="container">
<form method="post" id="saveform" name="saveform" action="{:U('/demo/formdesign')}" method="post">
<input type="hidden" name="form_id" value="{$one.id}">
<div class="row">
</div><!--end row-->
<div id="leftArrows"></div>
<div class="well-small-box" style="margin-top: 3px; width: 940px;">
<div class="well-small" style="border-radius:3;">
    <style>
        .btn{line-height:10px;padding: 5px 5px;font-size:10px;}
    </style>
<p style="margin: 0 0 0px;">
    <button type="button" onClick="leipiFormDesign.exec('text');" class="btn btn-info">文本框</button>
    <button type="button" onClick="leipiFormDesign.exec('textarea');" class="btn btn-info">多行文本</button>
    <button type="button" onClick="leipiFormDesign.exec('select');" class="btn btn-info">下拉菜单</button>
    <button type="button" onClick="leipiFormDesign.exec('radios');" class="btn btn-info">单选框</button>
    <button type="button" onClick="leipiFormDesign.exec('checkboxs');" class="btn btn-info">复选框</button>
    <button type="button" onClick="leipiFormDesign.exec('macros');" class="btn btn-info">宏控件</button>
    <button type="button" onClick="leipiFormDesign.exec('progressbar');" class="btn btn-info">进度条</button>
    <button type="button" onClick="leipiFormDesign.exec('qrcode');" class="btn btn-info">二维码</button>
    <button type="button" onClick="leipiFormDesign.exec('listctrl');" class="btn btn-info">列表控件</button>
    <button type="button" onClick="leipiFormDesign.exec('formto');" class="btn btn-info">表单跳转</button>
    <button type="button" onClick="leipiFormDesign.exec('uploadfile');" class="btn btn-info">上传文件</button>
    <button type="button" onClick="leipiFormDesign.exec('imagelist');" class="btn btn-info">图片列表</button>
    <button type="button" onClick="leipiFormDesign.exec('free');" class="btn btn-info">树控件ffffff</button>
</p>
            </div>
</div>
<div style="width:940px">
    <script id="myFormDesign" type="text/plain" style="width:100%;">
        {$one.content}
    </script>
</div><!--end row-->

</form>
</div><!--end container-->


<block name="footer_js">
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.config.js?{$_cjv}"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.all.js?{$_cjv}"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/lang/zh-cn/zh-cn.js?{$_cjv}"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/formdesign/leipi.formdesign.v4.js?{$_cjv}"></script>
<!-- script start-->  
<script type="text/javascript">
    $(function()
    {
        $("#leftArrows").css({"position":"absolute"});
        $("#leftArrows").css({"background":"url('/resource/images/common/ueditor_right.png') no-repeat -26px"});
        $("#leftArrows").css({"top":"0px"});
        $("#leftArrows").css({"left":"0px"});
        $("#leftArrows").css({"cursor":"pointer"});
        $("#leftArrows").attr("bg","1_05");
        $("#leftArrows").width(10);
        $("#leftArrows").height(60);

        $(".well-small").css({"background-color":"#f5f5f5"});
        $(".well-small").css({"box-shadow":"0px 1px 1px #eeeeee inset"});
        $(".well-small").css({"border":"1px solid #E3E3E3"});

        $(".well-small-box").height(60);
        $(".well-small-box").css({"overflow":"hidden"});

        $("#leftArrows").bind("click",function()
        {
            if($("#leftArrows").attr("bg")=="1_05")
            {

                $("#leftArrows").css({"background":"url('/resource/images/common/ueditor_left.png') no-repeat -26px"});
                $("#leftArrows").attr("bg","1_032");
                $(".well-small-box").slideToggle("hide");
                return;
            }
            $(".well-small-box").slideToggle("show");
            $("#leftArrows").attr("bg","1_05");
            $("#leftArrows").css({"background":"url('/resource/images/common/ueditor_right.png') no-repeat -26px"});
        });
    });
var leipiEditor = UE.getEditor('myFormDesign',{
            toolleipi:true,//是否显示，设计器的 toolbars
            textarea: 'design_content',   
            //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
    toolbars:[[
        'fullscreen', 'source', '|', 'undo', 'redo', '|',
        'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
        'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
        'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
        'directionalityltr', 'directionalityrtl', 'indent', '|',
        'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
        'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
        'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', 'insertcode', /*'webapp',*/ 'pagebreak', 'template', 'background', '|',
        'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
        'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
        'print', 'searchreplace', 'help', 'drafts','textfield']],
           //focus时自动清空初始化时的内容
            //autoClearinitialContent:true,
            //关闭字数统计
            wordCount:false,
            //关闭elementPath
            elementPathEnabled:false,
            //默认的编辑区域高度
            initialFrameHeight:300
            //更多其他参数，请参考ueditor.config.js中的配置项
        });

 var leipiFormDesign = {
    exec : function (method) {
        leipiEditor.execCommand(method);
    },
    
    fnCheckForm : function ( type ) {
        if(leipiEditor.queryCommandState( 'source' ))
            leipiEditor.execCommand('source');//切换到编辑模式才提交，否则有bug
            
       
        if(leipiEditor.hasContents()){
            leipiEditor.sync();       //同步内容
            
            var type_value,formid,formeditor;
            if( typeof type!=='undefined' ){
                type_value = type;
            }
            formeditor=leipiEditor.getContent();
            
			$("#button_save").text("submit...");
               //异步提交数据
             $.ajax({
                type: 'POST',
                url : '{:U("/".$_controller."/formdesign")}',
                dataType : 'json',
                data : {"form_id":<php>echo $one['id'];</php>,"design_content":formeditor},
                success : function(data){
					$("#button_save").text("确定保存");
                  if(data.status==1){
                      alert('保存成功');
                      location.reload();
                  }else{
                      alert(data.info);
                  }
                }
            });
        } else {
            alert('表单内容不能为空！')
            $('#submitbtn').button('reset');
            return false;
        }
    } ,
    
    fnReview : function (type){
        if(leipiEditor.queryCommandState( 'source' ))
            leipiEditor.execCommand('source');//切换到编辑模式才提交，否则有bug
            
        if(leipiEditor.hasContents()){
            leipiEditor.sync();       //同步内容
            document.saveform.target="mywin";
            window.open('','mywin',"menubar=0,toolbar=0,status=0,resizable=1,left=0,top=0,scrollbars=1,width=" +(screen.availWidth-10) + ",height=" + (screen.availHeight-50) + "\"");
            document.saveform.action="{:U('/demo/temp_preview')}";
            document.saveform.submit(); //提交表单
        } else {
            alert('表单内容不能为空！');
            return false;
        }
    }
};
var /*转为预览*/
        toPreview=function(template_parse)
        {
            template_parse = template_parse.replace(/\{\|-/gi, '');
            template_parse = template_parse.replace(/\-\|\}/gi, '');
            template_parse = template_parse.replace(/\{macros\}/gi, '宏控件');

            var element = document.createElement("div");
            $(element).append(template_parse);
            $(element).find("textarea").width("98.5%");
            $(element).find("select").width("");
            $(element).find("table").addClass("table");
            $(element).find("table").addClass("table-bordered");

            //解释列表控件
            toList(element);
            return $(element).html();
        }
var/*转为手机版*/
        toMobile=function(template_parse)
        {
            //解释控件
            template_parse = template_parse.replace(/\{\|-/gi, '');
            template_parse = template_parse.replace(/\-\|\}/gi, '');
            template_parse = template_parse.replace(/\{macros\}/gi, '宏控件');

            var element = document.createElement("div");
            $(element).append(template_parse);
            $(element).find("textarea").width("100%");
            $(element).find("select").width("");
            $(element).find("table").width("100%");
            $(element).find("table").removeClass("table");
            $(element).find("table").removeClass("table-bordered");

            $(element).find("table").addClass("ui-responsive");
            $(element).find("table").addClass("table-stroke");
            $(element).find("table").attr("data-mode","reflow");

            toList(element);

            for(;;)
            {
                //单选复选转为手机
                var tmp=null,temp="",isloop=false;
                var si=$(element).find("span");
                var i=0,l=si.length;
                for(i=0;i<l;i++)
                {
                    if($(si[i].childNodes[0]).attr("type")!="radio" && $(si[i].childNodes[0]).attr("type")!="checkbox")continue;

                    tmp=$(si[i]);//得到span
                    temp=tmp.html();
                    if($(si[i].childNodes[0]).attr("type")=="radio")temp=temp.replace(/\<input/gi,'<label class="ui-btn ui-corner-all ui-btn-inherit"><input');
                    if($(si[i].childNodes[0]).attr("type")=="checkbox")temp=temp.replace(/\<input/gi,'<label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-first-child ui-checkbox-on"><input');
                    temp=temp.replace(/\<label/gi,'</label><label');
                    temp+='</label>';
                    temp=temp.substring(8,temp.length);
                    tmp.html(temp);
                    isloop=true;break;
                }
                if(isloop==false)break;
            }
            return $(element).html();
        }
var /*解释列表控件*/
        toList=function(element)
        {
            //转换列表
            var input=$(element).find("input"),inputl=input.length;
            for(i=0;i<inputl;i++)
            {
                var $this=input[i];
                var listctrl=$($this).attr("leipiplugins");
                if(listctrl!="listctrl")continue;
                var gtitle=$($this).attr("orgtitle").split("`");
                var gcoltype=$($this).attr("orgcoltype").split("`");
                var gunit=$($this).attr("orgunit").split("`");
                var gsum=$($this).attr("orgsum").split("`");
                var gcolvalue=$($this).attr("orgcolvalue").split("`");

                var th="",tr="",tf='';
                for(i2=0;i2<gtitle.length-1;i2++)
                {
                    var orgcoltype=gcoltype[i2];
                    var sum_total_html = '';
                    if(gsum[i2]>0)//需要合计
                    {
                        orgcoltype='int';//必须数值
                        sum_total_html = 'onblur="sum_total(\'data_list'+i+'['+i2+']\')"';
                    }

                    th+='<th>'+gtitle[i2]+'</th>';
                    if(orgcoltype=="textarea")tr+='<td><textarea class="input-medium" name="data_list'+i+'['+i2+'][]" >'+gcolvalue[i2]+'</textarea> '+gunit[i2]+'</td>';
                    if(orgcoltype=="text")tr+='<td><input class="input-medium" type="text" name="data_list'+i+'['+i2+'][]" value="'+gcolvalue[i2]+'"> '+gunit[i2]+'</td>';
                    if(orgcoltype=="int")tr+='<td><input class="input-medium" '+sum_total_html+' type="text" name="data_list'+i+'['+i2+'][]" value="'+gcolvalue[i2]+'"> '+gunit[i2]+'</td>';

                    //tfooter
                    if(gsum[i2]>0)//需要合计
                    {
                        tf+='<td>合计：<input type="text" class="input-small" name="data_list'+i+'['+i2+'][total]" onblur="sum_total(\'data_list'+i+'['+i2+'][]\')" value="'+gcolvalue[i2]+'"> '+gunit[i2]+'</td>';
                    }else
                    {
                        tf+='<td></td>';
                    }
                }

                var B='';
                B+='<table id="data_list'+(i+1)+'_table" cellspacing="0" class="table table-bordered table-condensed" style="width: 100%;">';
                B+='<thead>';
                B+='<tr>';
                B+='<th colspan="'+(gtitle.length)+'">';
                B+=$($this).attr("title");
                B+='<span class="pull-right">';
                B+='<button class="btn btn-small btn-success" type="button" onclick="tbAddRow(\'data_list'+(i+1)+'\')">添加一行</button>';
                B+='</span>';
                B+='</th>';
                B+='</tr>';
                B+='<tr>';
                B+='</tr>';
                B+='<tr>';
                B+=th+'<th>操作</th>';
                B+='</tr>';
                B+='</thead>';
                B+='<tbody>';
                B+='<tr class="template">';
                B+=tr;
                B+='<td><a href="javascript:void(0);" onclick="fnDeleteRow(\'data_list'+(i+1)+'\',this)" class="delrow hide" style="display:none">删除</a></td>';
                B+='</tr>';
                B+='</tbody>';

                B+='<tbody>';
                B+='<tr>';
                B+=tf;
                B+='<td>&nbsp;</td>';
                B+='</tr>';
                B+='</tbody>';

                B+='</table>';


                $($this).before(B);
                $($this).remove();
            }
        }


var /*转为带头部数据*/
        toPreviewHead=function(preview)
        {
            var out="";
            out+="<!DOCTYPE HTML>";
            out+="<html>";
            out+="<head>";

            out+="<title>页面</title>";

            out+="<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />";
            out+="<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">";
            out+="<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">";
            out+="<meta name=\"author\" content=\"leipi.org\">";
            out+="<link href=\"/admin/pageEdit/formdesign/css/bootstrap/css/bootstrap.css\" rel=\"stylesheet\" type=\"text/css\" />";
            out+="\r\n<!--[if lte IE 6]>";
            out+="\r\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/admin/pageEdit/formdesign/css/bootstrap/css/bootstrap-ie6.css\">";
            out+="\r\n<![endif]-->";
            out+="\r\n<!--[if lte IE 7]>";
            out+="\r\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/admin/pageEdit/formdesign/css/bootstrap/css/ie.css\">";
            out+="\r\n<![endif]-->";
            out+="\r\n<link href=\"/admin/pageEdit/formdesign/css/site.css\" rel=\"stylesheet\" type=\"text/css\" />";

            out+="<script type=\"text/javascript\" charset=\"utf-8\" src=\"/admin/pageEdit/formdesign/js/jquery-1.7.2.min.js\"><"+"/script>";
            out+="<script type=\"text/javascript\" charset=\"utf-8\" src=\"/admin/pageEdit/formdesign/js/ueditor/ueditor.config.js\"><"+"/script>";
            out+="<script type=\"text/javascript\" charset=\"utf-8\" src=\"/admin/pageEdit/formdesign/js/ueditor/ueditor.all.js\"> <"+"/script>";
            out+="<script type=\"text/javascript\" charset=\"utf-8\" src=\"/admin/pageEdit/formdesign/js/ueditor/lang/zh-cn/zh-cn.js\"><"+"/script>";

            out+="<script type=\"text/javascript\" charset=\"utf-8\" src=\"/admin/pageEdit/formdesign/js/ueditor/formdesign/tolist.js\"><"+"/script>";

            out+="<script type=\"text/javascript\">";
            out+="var _root=\"\",_controller = \"index\";";
            out+="<"+"/script>";
            out+="</head>";
            out+="<body>";

            out+="<div class=\"container\">";
            out+="<div id=\"design_content\">";
            out+=preview;
            out+="</div>";
            out+="</div><!--end container-->";
            out+="</body>";

            out+="</html>";
            return out;
        }
</script>
<!-- script end -->


</block><!--end footer_js-->