
    <script src="../../resource/css/login/v2/js/swmovetit.js"></script>

    <!--注意-->
    <!--<script type="text/javascript">-->
        <!--function goregisterPersonal() {-->
            <!--location.href = "/reg.php";-->
        <!--}-->
    <!--</script>-->

<div>

    <header>
        <!--头部-->
        <div class="top">
            <!--头部-->
            <div class="top_nav">
                <div class="top_nav_left fl">
                    <h1 class="fl"><a href="javascript:;"><img src="./template/my/static/logo.png" alt=""></a></h1>
                    <div class="fr logo-wenzi">
                        <p> <img src="./template/my/static/logo-wenzi.png" alt=""></p>
                        <p><img src="./template/my/static/NO.sixPRIMARYSCHOOL-OF-YONGCHENG.png" alt=""></p>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--导航栏-->
    <nav class="nav_box">
        <div class="nav_content">
            <!--列表-->
            <ul>
                <li><a href="javascript:;">网站首页</a></li>
                <li><a href="javascript:;">学校概况</a></li>
                <li><a href="javascript:;">校园动态</a></li>
                <li><a href="javascript:;">园丁风采</a></li>
                <li><a href="javascript:;">教学教研</a></li>
                <li><a href="javascript:;">学生乐园</a></li>
                <li><a href="javascript:;">少先快报</a></li>
                <li><a href="javascript:;">学校风采</a></li>
                <li><a href="javascript:;">创新教育</a></li>
            </ul>
        </div>
    </nav>
    <!--搜索区-->
    <div class="search">
        <div class="search_content">
            <img src="./template/my/static/xiaodaohan.png" alt="">
        </div>
    </div>
    <!--轮播图-->
    <div class="banner">
        <div class="banner_content"><img src="./template/my/static/banner.png" alt=""></div>
    </div>
    <!--新闻公告,动态-->
    <div class="information">
        <div class="fl information_left"><img src="./template/my/static/组-1.png" alt=""></div>
        <!--新闻-->
        <div class="fl information_news">
            <ul>
                <li class="active"><a href="javascript:;">新闻动态</a></li>
                <li><a href="javascript:;">新闻动态</a></li>
                <li><a href="javascript:;">新闻动态</a></li>
            </ul>
            <div class="news_content">
                <ul>
                    <li><a href="javascript:;"><span>[集团信息]</span><span>国内最大的无水印爆笑图片网-网仙必看</span><span>2017-08-12</span></a></li>
                    <li><a href="javascript:;"><span>[集团信息]</span><span>国内最大的无水印爆笑图片网-网仙必看</span><span>2017-08-12</span></a></li>
                    <li><a href="javascript:;"><span>[集团信息]</span><span>国内最大的无水印爆笑图片网-网仙必看</span><span>2017-08-12</span></a></li>
                    <li><a href="javascript:;"><span>[集团信息]</span><span>国内最大的无水印爆笑图片网-网仙必看</span><span>2017-08-12</span></a></li>
                    <li><a href="javascript:;"><span>[集团信息]</span><span>国内最大的无水印爆笑图片网-网仙必看</span><span>2017-08-12</span></a></li>
                    <li><a href="javascript:;"><span>[集团信息]</span><span>国内最大的无水印爆笑图片网-网仙必看</span><span>2017-08-12</span></a></li>
                    <li><a href="javascript:;"><span>[集团信息]</span><span>国内最大的无水印爆笑图片网-网仙必看</span><span>2017-08-12</span></a></li>
                    <li><a href="javascript:;"><span>[集团信息]</span><span>国内最大的无水印爆笑图片网-网仙必看</span><span>2017-08-12</span></a></li>
                </ul>
            </div>
        </div>
        <!--公告-->
        <div class="fr information_massage">
            <div class="newest"><a href="javascript:;">最新公告</a></div>
            <div class="information_content">
                <ul>
                    <li><a href="javascript:;"><span>国内最大的无水印爆笑图片网-网仙必看</span></a></li>
                    <li><a href="javascript:;"><span>国内最大的无水印爆笑图片网-网仙必看</span></a></li>
                    <li><a href="javascript:;"><span>国内最大的无水印爆笑图片网-网仙必看</span></a></li>
                    <li><a href="javascript:;"><span>国内最大的无水印爆笑图片网-网仙必看</span></a></li>
                    <li><a href="javascript:;"><span>国内最大的无水印爆笑图片网-网仙必看</span></a></li>
                    <li><a href="javascript:;"><span>国内最大的无水印爆笑图片网-网仙必看</span></a></li>
                    <li><a href="javascript:;"><span>国内最大的无水印爆笑图片网-网仙必看</span></a></li>
                    <li><a href="javascript:;"><span>国内最大的无水印爆笑图片网-网仙必看</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--优秀教师 teacher-->
    <div class="teacher">
        <div class="fl teacher_img">
            <div class="teacher_img_top">
                <div class="newest"><a href="javascript:;">优秀教师</a></div>
            </div>
            <div class="teacher_img_content">
                <img src="./template/my/static/yingyu.png" alt="">
                <img src="./template/my/static/yingyu-two.png" alt="">
                <img src="./template/my/static/yuwen.png" alt="">
                <img src="./template/my/static/shuxue.png" alt="">
            </div>
        </div>
        <div class="fr teacher_email">
            <img src="./template/my/static/youxiang.png" alt="">
            <img src="./template/my/static/lingdao.png" alt="">
        </div>
    </div>
    <!--相关资讯-->
    <div class="zixun">
        <div class="teacher_img_top">
            <div class="newest"><a href="javascript:;">相关资讯</a></div>
        </div>
        <div class="zixun_img">
            <ul>
                <li><img src="./template/my/static/er.png" alt=""><p>领导检查工作</p></li>
                <li><img src="./template/my/static/er.png" alt=""><p>领导检查工作</p></li>
                <li><img src="./template/my/static/er.png" alt=""><p>领导检查工作</p></li>
                <li><img src="./template/my/static/er.png" alt=""><p>领导检查工作</p></li>
                <li><img src="./template/my/static/er.png" alt=""><p>领导检查工作</p></li>
                <li><img src="./template/my/static/er.png" alt=""><p>领导检查工作</p></li>
            </ul>
        </div>
    </div>
    <!--友情链接-->
    <div class="liangjie">
        <a href="javascript:;"><img src="./template/my/static/youqinglianjie.png" alt=""></a>
        <ul>
            <li>友好合作单位</li>
            <li>友好合作单位</li>
            <li>友好合作单位</li>
            <li>友好合作单位</li>
            <li>友好合作单位</li>
            <li>友好合作单位</li>
            <li>友好合作单位</li>
            <li>友好合作单位</li>
        </ul>
    </div>
    <!--旧内容区-->
    <!--<div class="footwrap">-->
        <!--<div class="footcon">-->
            <!--<ul>-->
                <!--<li><a href="aboutsw.html">关于我们</a></li>&nbsp;|-->
                <!--<li><a href="#">产品案例</a></li>&nbsp;|-->
                <!--<li><a href="#">联系我们</a></li>-->
                <!--<li><a href="/mobile/" target="_parent">手机板</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="footconcopyright">-->
            <!--版权所有©2015 &nbsp;&nbsp; 高州市好帮手信息科技有限公司&nbsp;&nbsp;<a href="#">粤ICP备15056712号</a>-->
        <!--</div>-->
    <!--</div>-->
    <footer style="border:none">
        <img src="./template/my/static/dilan.png" alt="">
    </footer>
</div>
<!--</body>-->



















