<extend name="Public/base" />
<block name="title">
    <title>流程设计器</title>
</block>
<block name="head">
</block><!--end head-->

<block name="body">
<div class="container">
<div class="row">
    <ol class="breadcrumb">
        <li><a href="#">流程设计器</a> <span class="divider">/</span></li>
        <li class="active">审核</li>
    </ol>
</div>
<div class="row">
<form action="{:U('/Flow/run/save_show')}" method="post">
<input type="hidden" value="{$run_process_id}" name="run_process_id" />
<input type="hidden" value="{$flow_one.id}" name="flow_id" />
<input type="hidden" value="{$run_one.id}" name="run_id" />
<input type="hidden" value="{$mid}" name="mid" />
<input type="hidden" value="{$from_data_id}" name="from_data_id" />
<hr/>
<p>
	<h4><i class="icon-play"></i>表单内容</h4>
    {$design_content}
</p>
<hr/>
<!--
<p>
	<h4><i class="icon-play"></i>上传附件</h4>
	未完成...
</p>
<hr/>
<p>
	<h4><i class="icon-play"></i>会签意见</h4>
	未完成...
</p>
<hr/>-->
<!--<button type="submit" name="submit_to_save" value="save" class="btn btn-primary">确定提交</button>
<button type="submit" name="submit_to_next" value="next" class="btn btn-info">保存转交下一步</button>-->
<button type="submit" name="submit_to_save" value="save" class="btn btn-primary">批准</button>
<button type="submit" name="submit_to_end" value="end" class="btn btn-success">拒绝</button>
</form>
</div><!--end row-->
</div><!--end container-->
<block name="footer_js">
<!-- script end -->
</block><!--end footer_js-->