html,body{height:auto}body {
	margin-left: 3px;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
}
body,td,th {
	font-size: 14px;
}
.path{color:#ffffff;}
#fileid select{width:500px;}

.style1{height: 25px;}
#itemloadid{overflow:hidden;height:0px;width:auto;color:#ffffff;background:#218AB5; text-align:center;line-height:25px;}
#itembodyid{display:none;}
