body{
    padding-top: 20px;
}
.page{
    padding-bottom: 15px;
}
.page a{
    margin: 0px 5px;
}
.no-file{
    color: #ff0000;
}
.file_name{
    cursor: pointer;
    color: #666;
    margin-left: 3px;
}
.file_icon{
    width: 20px;
}