
<div id="logdiv1" ng-init="init();">  
   <p style="font-size:22px;margin:3px">我的申请</p>
   <center> 
   <table border="1px" style="margin-top:1px;width:87%;font-size:14px;text-align:center;margin-top:1px;margin-left:2px;position:relative;float:left;" cellSpacing="0px" cellPadding="0px">
      <tr style="background-color:#ccc"> 
         <td>当前任务</td>
         <td>办理人</td>
         <td>流程名称</td>
         <td>开始时间</td>
         <td>结束时间</td>
         <td>等待时长</td> 
         <td>操 作</td>
      </tr>
      <tr ng-repeat="proc in processList | orderBy:'processStartDate'" >
         <td>{{proc.taskName}}</td>
         <td>{{proc.assignee}}</td>
         <td>{{proc.processDefName}}</td>
         <td>{{proc.processStartDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
         <td>{{proc.processEndDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
         <td>{{proc.waittingTimes}}</td> 
         <td><a href="script:;" ng-click="findDetail(task)">查看</a>&nbsp;
             <a href="script:;" ng-click="completeTaskTo(task)">处理任务</a>&nbsp;
         </td>
      </tr>
   </table>  
   <div id="findDetail"></div>
   <div id="comTask"></div>
   </center> 
</div>  