a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
    background-color: #fff;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.top{
    width: 100%;
    height: 132px;
    background-color: #00a2d4;
    clear: both;
    background: url("../../../template/school/static/dingbu-beijing(1).png")no-repeat;
}
.top_nav{
    width: 1000px;
    margin: 0 auto;
    height: 132px;
    /*111*/
}
/*小屋图标*/
.top_nav_left >h1{
    display: inline-block;
    width: 81px;
    height: 83px;
    margin-top: 15px;
    margin-right: 6px;
}
.top_nav>h1>a{
    display: block;
    width: 81px;
    height: 83px;
    line-height: 83px;
}
/*学校名称*/
.logo-wenzi{
    margin-top: 40px;
}
.logo-wenzi>p:nth-child(2){
    margin-top: 6px;
}
/*导航栏*/
.nav_box{
    float: left;
    width: 100%;
    height: 50px;
    background: url("../../../template/school/static/daohantiao.png")no-repeat;
    clear: both;
    margin-top: -1px;
}
.nav_content{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}
.nav_content ul{
    width: 1000px;
    height: 50px;
    padding-left: 25px;
}
.nav_content ul li{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
}
.nav_content ul li a{
    display: block;
    width: 100px;
    height: 50px;
    color: #fff;
    text-decoration: none;
    font-family: "微软雅黑", "宋体", Arial, sans-serif;
}
/*搜索*/
.search{
    width: 100%;
    height: 74px;
    clear: both;
}
.search_content{
    width: 1000px;
    height: 74px;
    margin: 0 auto;
}
.search_content img{
    text-align: center;
}
/*轮播图*/
.banner{
    width: 1000px;
    height: 307px;
    margin: 0 auto;
    padding-bottom: 16px;
}
.banner_content{
    width: 1000px;
    height: 307px;
}

/*<!--新闻公告,动态-->*/
.information{
    width: 1000px;
    height: 282px;
    margin: 0 auto;
    padding-bottom: 16px;
}
.information_left{
    width: 251px;
    height: 282px;
}
.information_news{
    width: 460px;
    height: 280px;
    border: 1px solid #ccc;
    margin: 0 12px;
}
.information_massage{
    width: 260px;
    height: 280px;
    border: 1px solid #ccc;
}
.information_news >ul{
    width: 460px;
    height: 39px; ;
    border-bottom: 1px solid #ccc;
}
.information_news >ul li{
    float: left;
    height: 39px;
    width: 103px;
    line-height: 39px;
    border-right: 1px solid #ccc;
}
.information_news >ul li a{
    font-size: 14px;
    font-family: "宋体";
    color: #00325b;
    display: block;
    height: 39px;
    width: 103px;
    text-align: center;
    text-decoration: none;
}
.information_news ul li.active{
    background: url("../../../template/school/static/guanguan.png")no-repeat;
}
.news_content ul{
    padding: 10px  13px 0 13px ;
}
.news_content ul li{
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
}
.news_content ul li span:nth-child(1){
    margin-right: 10px;
}
.news_content ul li span:nth-child(3){
    float: right;
}
/*最新公告*/
.newest{
    width: 100%;
    height: 39px;
    border-bottom: 1px solid #ccc;
}
.newest a{
    font-size: 14px;
    font-family: "宋体";
    color: #00325b;
    display: block;
    width: 60px;
    height: 39px;
    line-height: 39px;
    padding-left: 45px;
    background: url("../../../template/school/static/tubiao.png")no-repeat;
    background-position: 5px 5px;
    text-decoration: none;
}
.information_content ul{
    padding: 15px 32px 0 17px;
}
.information_content ul li{
    height: 25px;
    line-height: 25px;
}
/*优秀教师*/
.teacher{
    width: 1000px;
    height: 270px;
    margin:  0 auto;
    padding-bottom: 16px;
}
.teacher_img{
    width: 722px;
    height: 268px;
    border: 1px solid #ccc;
}
.teacher_email{
    width: 264px;
}
.teacher_email img:nth-child(1){
    margin-bottom: 16px;
}
.teacher_img_content{
    padding: 20px 0 0 5px;
}
/*相关资讯*/
.zixun{
    width: 1000px;
    height: 216px;
    border: 1px solid #ccc;
    margin:0 auto;
}
.zixun_img ul{
    width: 1000px;
    height: 216px;
    padding-top: 20px;
}
.zixun_img ul li{
    float: left;
    margin-left: 16px;
    text-align: center;
}
.zixun_img ul li p{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #666;
}
/*友情链接*/
.liangjie{
    width: 1000px;
    height: 120px;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 16px;
}
.liangjie a{
    width: 165px;
    height: 86px;
    float: left;
    margin-top: 20px;
    text-decoration: none;
}
.liangjie ul{
    width: 650px;
    height: 120px;
    margin-left: 200px;
    margin-top: 35px;
}
.liangjie ul li{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #666;
    height: 22px;
    line-height: 22px;
    float: left;
    margin-right: 60px;
}
















/*脚部*/
.footwrap{
    width:100%;
    height:80px;
    background:#f2f2f2;
    border-top:1px solid #ccc;
    float: left;
}




