<extend name="Public/base" />
<block name="title">
    <title>数据操作</title>
</block>
<block name="head">
</block><!--end head-->
<block name="body">
<p></p>
<div class="container">
<div class="row">
    <ol class="breadcrumb">     
        <li class="active">查看</li>
    </ol>
</div>
<div class="row">
<form action="{:U('/demodata/'.$_action)}" method="post">
<hr/>
<p>
    {$design_content}
</p>
</form>
</div><!--end row-->
</div><!--end container-->




<block name="footer_js">

<!-- script end -->


</block><!--end footer_js-->