<!--引入外部文件-->

<script src="../../js/angular/angular.min.js"></script>

<script type="text/javascript">

    var tab = null;
    var tab2 = null;
    var accordion = null;
    var tree = null;
    var tabItems = [];
    var ddd,rmenu_id,rmenu_ti,cu_tabid;
    var mgtab2=null;


    $(function() {



        //左边的主要菜单
        $("#tab1").ligerTab();
        //右边的主要菜单
        $("#tab2").ligerTab();
        mgtab2 = $("#tab2").ligerGetTabManager();
        //布局
        $("#layout1").ligerLayout({ leftWidth: 200, height: '100%', heightDiff: -5, space: 4, onHeightChanged: f_heightChanged,isLeftCollapse:true});
        //右边布局
        $("#layout2").ligerLayout({ leftWidth: 200, height: '100%', heightDiff: -5, space: 4, onHeightChanged: f_heightChanged,isLeftCollapse:true});
        var height = $(".l-layout-center").height();
        //功能右键显示网络银盘
        rmenu = $.ligerMenu({ top: 100, left: 100, width: 120, items:[{ text: '网络硬盘', click: godisk,icon:'add' }]});

        //数据


        //加载完成插入图标

        //只有左边菜单可以点击齿轮编辑
        $("#tab1 li[tabid=tabitem1] a").after("<img src='./resource/images/common/sz.png' ng-click=getgourl('role') />");
        $("#tab1 li[tabid=tabitem2] a").after("<img src='./resource/images/common/sz.png' ng-click=getgourl('form') />");
        $("#tab1 li[tabid=tabitem3] a").after("<img src='./resource/images/common/sz.png' ng-click=getgourl('flow') />");

//        $("#appflow_tree").ligerTree(
//                {
//                    url:"/s/flow/ajax.php?act=appflowtree",
//                    nodeWidth:200,
//                    onselect: function (node)
//                    {
//                        var tabid = $(node.target).attr("tabid");
//                        if (!tabid)
//                        {
//                            tabid = new Date().getTime();
//                            $(node.target).attr("tabid", tabid)
//                        }
//                        if (!node.data.isLeaf)
//                        {
//                            f_addTab(tabid,node.data.text,encodeURI('/s/tp/wwwroot/index.php?s=/Flow/run/getflow/flow_id/'+node.data.id+'.html'));
//                        }
//
//                    },
//                    checkbox:false
//                }
//        );
//        var power_tree=$("#power_tree").ligerTree(
//                {
//                    url:"/s/organizesetting/powertree.php",
//                    nodeWidth:200,
//                    onclick:function(node){
//                        var tabid = $(node.target).attr("tabid");
//                        if (!tabid)
//                        {
//                            tabid = new Date().getTime();
//                            $(node.target).attr("tabid", tabid)
//                        }
//                        if(node.isonclick){
//                            power_tree.cancelSelect(node.data.treedataindex);
//                            f_addTab(tabid+node.data.id,node.data.text+" 网盘硬盘",encodeURI('/upload/document/filemg.php?role='+node.data.id));
//                        }else if(!node.data.isLeaf)
//                        {
//                            /*f_addTab(tabid,node.data.text,encodeURI('/s/organizesetting/powerformlist.php?roleid='+node.data.id));*/
//                            f_addTab(tabid,node.data.text,encodeURI('/s/organizesetting/powermain.html?roleid='+node.data.id));
//                        }
//                    },
//
//                    checkbox:false
//                }
//        );

//        var power_tree=$("#power_tree").ligerTree(
//                {
//                    url:"./data_json/new.json",
//                    nodeWidth:200,
//                    onclick:function(node){
//                        var tabid = $(node.target).attr("tabid");
//                        if (!tabid)
//                        {
//                            tabid = new Date().getTime();
//                            $(node.target).attr("tabid", tabid)
//                        }
//                        if(node.isonclick){
//                            power_tree.cancelSelect(node.data.treedataindex);
//                            f_addTab(tabid+node.data.id,node.data.text+" 网盘硬盘",encodeURI('/upload/document/filemg.php?role='+node.data.id));
//                        }else if(!node.data.isLeaf)
//                        {
//                            /*f_addTab(tabid,node.data.text,encodeURI('/s/organizesetting/powerformlist.php?roleid='+node.data.id));*/
//                            f_addTab(tabid,node.data.text,encodeURI('/s/organizesetting/powermain.php?roleid='+node.data.id));
//                        }
//                    },
//
//                    checkbox:false
//                }
//        );

        function godisk(item){
//          console.log(item)
            var tabid = $(this.target).attr("tabid");
            if (!tabid)
            {
                tabid = "rmenu"+rmenu_id;
                $(this.target).attr("tabid", tabid)
            }
            f_addTab(tabid,rmenu_ti+' '+item.text,encodeURI('./upload/filetest.html?oId='+rmenu_id+'&mode=fileOpen'));
        }
        //Tab
        tab=$("#framecenter").ligerTab({
            height: height,
            showSwitchInTab: true,
            showSwitch: true,
            onAfterAddTabItem: function(tabdata) {
               /* console.log(tabdata)
                sessionStorage.setItem(tabdata.text,tabdata.tabid)*/
                tabItems.push(tabdata);
                saveTabStatus();
            },
            onAfterRemoveTabItem: function(tabid) {
                console.log(tabid)
                for (var i = 0; i < tabItems.length; i++) {
                    var o = tabItems[i];
                    if (o.tabid == tabid) {
                        tabItems.splice(i, 1);
                        saveTabStatus();
                        break;
                    }
                }
            },
            onReload: function(tabdata) {
//              console.log(tabdata)
                var tabid = tabdata.tabid;
                addFrameSkinLink(tabid);
            },
            onAfterSelectTabItem: function (tabid)
            {
//              console.log(tabid)
                cu_tabid=tabid;
            }
        });

        tab2=$("#framecenter2").ligerTab({
            height: height,
            showSwitchInTab: true,
            showSwitch: true,
            onAfterAddTabItem: function(tabdata) {

                tabItems.push(tabdata);
                saveTabStatus();
            },
            onAfterRemoveTabItem: function(tabid) {

                for (var i = 0; i < tabItems.length; i++) {
                    var o = tabItems[i];
                    if (o.tabid == tabid) {
                        tabItems.splice(i, 1);
                        saveTabStatus();
                        break;
                    }
                }
            },
            /*onReload: function(tabdata) {
                console.log("tabdata:"+tabdata);
                var tabid = tabdata.tabid;
                addFrameSkinLink(tabid);
            },*/
            onAfterSelectTabItem: function (tabid)
            {
                console.log(tabid)
                cu_tabid=tabid;
            }
        });

//        $("#myflow_tree").ligerTree(
//            {
//                url:"/data/myflow_tree.js",
//                nodeWidth:200,
//                onselect: function (node)
//                {
//                    f_addTab2("myflowcontent"+node.data.id,node.data.text,'/8.15/admin/flow/content.html'+node.data.url);
//                },
//                checkbox:false
//            }
//        );
        function retab(tabid){
            tab.reload(tabid);
        }
        //面板
        $("#accordion1").ligerAccordion({
            height: height - 24, speed: null
        });

        $(".l-link").hover(function() {
            $(this).addClass("l-link-over");
        }, function() {
            $(this).removeClass("l-link-over");
        });
        //树
        // <!--<?php-->
        // <!--include_once"../../s/inc/conn.php";-->
        // <!--include_once"../../s/function/public.php";-->
        // <!--$result=getfreepower("",0,implode(',',$_SESSION['uroles']));-->
        // <!--?>-->
        // <!--var data=eval('['+decodeURIComponent('<?php echo urlencode($result[1]);?>')+']');-->




        accordion = liger.get("accordion1");
        tree = liger.get("tissue_nav_tree");
        $("#pageloading").hide();
        css_init();
        pages_init();

        //$("#power_tree .l-tree-icon-folder-open").removeClass("");
    });

    function f_heightChanged(options) {
        if (tab)
            tab.addHeight(options.diff);
        if (accordion && options.middleHeight - 24 > 0)
            accordion.setHeight(options.middleHeight - 24);
    }
    function f_getTabId(text, url)
    {
        for(i in tabItems)
        {
            if(tabItems[i].text==text && tabItems[i].url==url)
            {
                return tabItems[i].tabid;
            }
        }
        return -1;
    }
    function f_addTab(tabid, text, url) {
        var id=f_getTabId(text,url);
        if(id!=-1)tabid=id;
//        console.log(id)
        tab.addTabItem({
            tabid: tabid,
            text: text,
            url: url,
            callback: function() {
//                 addShowCodeBtn(tabid);
//                 addFrameSkinLink(tabid);
            }
        });
    }
    function f_addTab2(tabid, text, url) {
        var id=f_getTabId(text,url);
        if(id!=-1)tabid=id;
//        console.log(id)
        tab.addTabItem({
            tabid: tabid,
            text: text,
            url: url,
            callback: function() {
//                 addShowCodeBtn(tabid);
//                 addFrameSkinLink(tabid);
            }
        });
    }

    function addShowCodeBtn(tabid) {
        var viewSourceBtn = $('<a class="viewsourcelink" href="javascript:void(0)">查看源码</a>');
        var jiframe = $("#" + tabid);
        viewSourceBtn.insertBefore(jiframe);
        viewSourceBtn.click(function() {
            showCodeView(jiframe.attr("src"));
        }).hover(function() {
            viewSourceBtn.addClass("viewsourcelink-over");
        }, function() {
            viewSourceBtn.removeClass("viewsourcelink-over");
        });
    }
    function showCodeView(src) {
        $.ligerDialog.open({
            title: '源码预览',
            url: 'dotnetdemos/codeView.aspx?src=' + src,
            width: $(window).width() * 0.9,
            height: $(window).height() * 0.9
        });

    }
    function addFrameSkinLink(tabid) {
        var prevHref = getLinkPrevHref(tabid) || "";
        var skin = getQueryString("skin");
        if (!skin) return;
        skin = skin.toLowerCase();
        attachLinkToFrame(tabid, prevHref + skin_links[skin]);
    }

    var skin_links = {
        "aqua": "../../admin/flowsetting/js/lib/ligerUI/skins/Aqua/css/ligerui-all.css",
        "gray": "../../admin/flowsetting/js/lib/ligerUI/lib/ligerUI/skins/Gray/css/all.css",
        "silvery": "../../admin/flowsetting/js/lib/ligerUI/lib/ligerUI/skins/Silvery/css/style.css",
        "gray2014": "../../admin/flowsetting/js/lib/ligerUI/lib/ligerUI/skins/gray2014/css/all.css"
    };
    function pages_init() {
        var tabJson = $.cookie('liger-home-tab');
        if (tabJson) {
//            console.log(tabJson)
            var tabitems = JSON2.parse(tabJson);
            for (var i = 0; tabitems && tabitems[i]; i++) {
                f_addTab(tabitems[i].tabid, tabitems[i].text, tabitems[i].url);
            }
        }
    }
    function saveTabStatus() {
        $.cookie('liger-home-tab',JSON2.stringify(tabItems));
    }
    function css_init() {
        var css = $("#mylink").get(0), skin = getQueryString("skin");
        $("#skinSelect").val(skin);
        $("#skinSelect").change(function() {
            if (this.value) {
                location.href = "index.htm?skin=" + this.value;
            } else {
                location.href = "index.htm";
            }
        });


        if (!css || !skin) return;
        skin = skin.toLowerCase();
        $('body').addClass("body-" + skin);
        $(css).attr("href", skin_links[skin]);
    }
    function getQueryString(name) {
        var now_url = document.location.search.slice(1), q_array = now_url.split('&');
        for (var i = 0; i < q_array.length; i++) {
            var v_array = q_array[i].split('=');
            if (v_array[0] == name) {
                return v_array[1];
            }
        }
        return false;
    }
//    var dizhi = location.host+location.pathname+"#/school"
   $(".l-layout-header-inner").append("<a target='_self' title='胜网科技首页' ui-sref='website'><img src='./resource/images/common/sz.png'></a>")

    //    function attachLinkToFrame(iframeId, filename) {
    //        if (!window.frames[iframeId]) return;
    //        var head = window.frames[iframeId].document.getElementsByTagName('head').item(0);
    //        var fileref = window.frames[iframeId].document.createElement("link");
    //        if (!fileref) return;
    //        fileref.setAttribute("rel", "stylesheet");
    //        fileref.setAttribute("type", "text/css");
    //        fileref.setAttribute("href", filename);
    //        head.appendChild(fileref);
    //    }
    //    function getLinkPrevHref(iframeId) {
    //        if (!window.frames[iframeId]) return;
    //        var head = window.frames[iframeId].document.getElementsByTagName('head').item(0);
    //        var links = $("link:first", head);
    //        for (var i = 0; links[i]; i++) {
    //            var href = $(links[i]).attr("href");
    //            if (href && href.toLowerCase().indexOf("ligerui") > 0) {
    //                return href.substring(0, href.toLowerCase().indexOf("lib"));
    //            }
    //        }
    //    }

    //    function tuichu() {
    //        location.href = "/login.php";
    //    }
    //    function gourl(type){
    //
    //        if(type=="role"){
    ////            f_addTab('role',"角色配置",encodeURI('./admin/new_organizesetting/bumenTree.html'));
    //            f_addTab('role',"角色配置",encodeURI('./template/workbench/role/bumenTree.html'));
    //
    //        }else if(type=="form"){
    //            /*f_addTab('form',"表单配置",encodeURI('/admin/new_pagedesign/form_index.html'));*/
    //            f_addTab('form',"表单配置",encodeURI('./admin/newtpl/formset.html'));
    ////            f_addTab('form',"表单配置",encodeURI('./template/workbench/form/formset.html'));
    //
    //        }else if(type=="flow"){
    ////            f_addTab('flow',"流程配置",encodeURI('./admin/flowsetting/index.htm'));
    //            f_addTab('flow',"流程配置",encodeURI("./template/workbench/flow/flow.html"));
    //        }
    //    }
    //    var per_tree=[{ text: '基础',url:"demos/base/resizable.htm"},{ text: '基础',url:"demos/base/resizable.htm"},];
    //    function open_qq(){
    //        f_addTab("qq8888","QQ聊天",encodeURI('http://218.15.27.250:8080/myservice/verify?username=admin&password=admin'));
    //    }
    //    function open_msg(type){
    //        if(type!=''){types='act='+type;}else{types='all';}
    //        f_addTab("个人消息","个人消息",encodeURI('/s/message/msg.php?'+types));
    //    }
    //    function open_email(){
    //        f_addTab("email","email",encodeURI('http://218.15.27.250:8080/myservice/verify?type=1&username=admin&password=admin'));
    //    }
    //    function open_xinxi(){
    //        f_addTab("xinxi","个人配置",encodeURI('/front/personsetting/index.htm'));
    //    }
    //    function open_phone(){
    //        f_addTab("phone","云电话",encodeURI('/front/personsetting/phone.html'));
    //    }
</script>
<style>
    .l-layout-left  .l-tab-links li img{
        padding-top: 4px;
        padding-right: 3px;
        width: 22px;
        position: absolute;
        top: 0;
        right: 0;
    }
    #layout1{
        width: 1200px !important;
    }
    /*.danwei{*/
        /*float: left;*/
       /*position: relative;*/
        /*top: 0px;*/
        /*right: 0px;*/
        /*z-index: 999;*/
    /*}*/
</style>

<!--<body style="padding:0px;background:#EAEEF5;">-->
<header id="pageloading"></header>
<!--<div id="topmenu" class="l-topmenu">
    <div class="l-topmenu-logo">胜网科技</div>
    <div class="l-topmenu-welcome">
    <label>当前登录用户：<strong><?php /*echo $_SESSION['username']; */?></strong> ( <a href="#" onClick="open_msg('all')">消息</a> )&nbsp;&nbsp;</label>
        <a href="#" onClick="open_xinxi()">个人信息</a>
        <a href="/admin/newtpl/index.php" class="l-link2">配置</a>
        <span class="space">|</span>
        <a href="/s/login/loginout.php" class="l-link2">退出系统</a>
    </div>
</div>-->
<div id="layout1" style="width:99.2%; margin-top:0px; "  ng-controller="main">
    <div position="left"  title="主要菜单"  id="accordion1!!!" style="height:100%;" ng-controller="gourl">
        <div id="tab1" style="height:100%">
            <div title="角色" style="height:100%;overflow-y:scroll" class="{{id}}" ng-controller="work1Controller">
                <div style="height:7px;"></div>
                <ul id="power_tree" style="margin-top:3px;">
                    <!--<div-->
                    <!--data-angular-treeview="true"-->
                    <!--data-tree-id="mytree"-->
                    <!--data-tree-model="roleList"-->
                    <!--data-node-id="roleId"-->
                    <!--data-node-label="roleName"-->
                    <!--data-node-children="children" >-->
                    <!--</div>-->

                </ul>
            </div>
            <div title="功能" style="height:100%;overflow-y:scroll" ng-controller="work2Controller">
                <div style=" height:7px;"></div>
                <ul id="tissue_nav_tree" style="margin-top:3px;">

                </ul>
            </div>
            <div title="流程" style="height:100%;overflow-y:scroll" ng-controller="work3Controller">
                <div style="height:7px;"></div>
                <ul id="flow_tree" style="margin-top:3px;"> </ul>
                <ul id="appflow_tree" style="margin-top:3px;"></ul>
                <ul id="myflow_tree" style="margin-top:3px;"> </ul>
            </div>
            <!--<div title="个人管理">
            <div style=" height:7px;"></div>
            <ul style="margin-top:3px;" >
            <li onClick="open_msg('all')"><img src="../../resource/images/common/yx.png"><a href="#">消息</a></li>
            <li onClick="open_email()"><img src="../../resource/images/common/yx.png"><a href="#">邮箱</a></li>
            <li onClick="open_qq()"><img src="../../resource/images/common/QQ.png"><a href="#">聊天工具</a></li>
            <li onClick="open_xinxi()"><img src="../../resource/images/common/sz.png"><a href="#">个人信息</a></li>
            <li onClick="open_phone()"><img src="../../resource/images/common/phone.png"><a href="#">云电话</a></li>
            </ul>
            </div>  -->

        </div>


    </div>
    <div position="center" id="framecenter" style="width: 1200px">
        <div tabid="home" title="我的主页"  style="height:300px">
            <!--<iframe frameborder="0" name="home" id="home" src="./s/powermain.html"></iframe>-->
            <div id="pageloading"></div>
            <div id="layout2" style="width:99.2%; margin:0 auto; margin-top:0px; ">
                <div position="left"  title="主要菜单" id="" style="height:100%">
                    <div id="tab2" style="height:100%" >
                        <div title="角色功能" style="height:98%;overflow-y:scroll" ng-controller="role1Controller">
                            <ul id="tissue_nav_tree2" style="margin-top:3px;">

                            </ul>
                        </div>
                        <div title="流程应用" style="height:100%;overflow-y:scroll">
                            <div style="height:3px;"></div>
                            <ul id="flow_tree2" style="margin-top:3px;"> </ul>
                            <ul id="appflow_tree2" style="margin-top:3px;"  ng-controller="role2Controller"></ul>
                        </div>
                    </div>
                </div>
                <div position="center" id="framecenter2">

                    <!--<iframe frameborder="0" name="home" id="home" src="../front/main/welcome.html"></iframe>-->

                    <div tabid="home" title="我的主页" style="height:300px">
                        <!--<iframe frameborder="0" name="home" id="home" src="./s/powermain.html"></iframe>-->
                        <div id="pageloading"></div>
                        <!--<div  style="width:99.2%; margin:0 auto; margin-top:0px; ">-->

                            <!--<div class="admin_main_nr_dbox">-->
                                <!--<div class="pagetit">-->
                                    <!--<div class="ptit">-->
                                        <!--<span class="icons"><img src="./resource/images/usericons/noavatar_small.gif" /></span>-->
                                        <!--<span class="iconstitle">-->
                                        <!--&lt;!&ndash;<?php echo $_SESSION['chinese_name'];?>&ndash;&gt;-->
                                            <!--<br />欢迎登录胜网信息管理系统！-->
                                        <!--</span>&nbsp;<div style="font-weight:normal">-->
                                        <!--担任角色：-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="clear"></div>-->
                                <!--</div>-->
                                <!--<span id="version"></span>-->
                                <!--<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#FF9900"  style=" margin-bottom:6px;">-->
                                    <!--<tr>-->
                                        <!--<td bgcolor="#FFFFCC">&nbsp;你最近一次的登陆IP2017，时间为8.18。</td>-->
                                    <!--</tr>-->
                                <!--</table>-->
                                <!--<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#FF9900"  style=" margin-bottom:6px;">-->
                                    <!--<tr>-->
                                        <!--<td bgcolor="#FFFFCC">&nbsp;公司公告：<span id="gong"></span></td>-->
                                    <!--</tr>-->
                                <!--</table>-->
                                <!--<div class="toptit">待处理事务</div>-->
                                <!--<table width="100%" border="0" cellpadding="0" cellspacing="0" class="link_lan" style="padding-left:15px; line-height:220%; margin-bottom:10px; color:#666666">-->
                                    <!--<tr>-->
                                        <!--<td  >收到消息：&nbsp;( <a href="#" onclick="window.parent.open_msg('new')" id="t1"></a> )</td>-->
                                        <!--<td  >收到邮件：&nbsp;<a href="#" id="t3">...</a></td>-->
                                        <!--<td  >&nbsp;</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td  >即时通消息：&nbsp;<a href="#" id="t2">...</a></td>-->
                                        <!--<td  >待处理事务：&nbsp;<a href="#" id="t4">...</a></td>-->
                                    <!--</tr>-->

                                <!--</table>-->
                            <!--</div>-->

                            <!--&lt;!&ndash;这是用户信息页面&ndash;&gt;-->
                        <!--</div>-->
                        <img src="./main/img/top_head.png" alt="">
                        <img src="./main/img/set_index.png" alt="">
                    </div>


                </div>


            </div>

        </div>


    </div>
    <!--01  这是右边整块菜单内容-->
</div>
<!--</body>-->












