@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	}
body{
	font-size:14px;
	font-family:"微软雅黑";
}
a {
	text-decoration:none;
	color:#333;
}
img{
	border:none;
}
ul li{
	
	list-style:none;
	}
	
/************head begin**************/

.headwrap{
	width:100%;
	height:80px;
	border-bottom:2px solid #ccc;
}
.headcon{
	width:1000px;
	height:80px;
	margin:0 auto;
}
.hlogo{
	width:430px;
	height:80px;
	float:left;
}
.loginwrap{
	width:570px;
	height:80px;
	float:left;
}
.logincon{
	width:570px;
	height:80px;
	line-height:80px;
}
.loginbox{
	width:205px;
	height:80px;
	float:left;
	}
.loginboxcon{
	width:205px;
	height:80px;
	line-height:80px;
	font-size:18px;
	}
.loginboxtit{
	width:60px;
	float:left;
	text-align:right;
	height:80px;
}
.logininpujt{
	width:125px;
	height:25px;
	border:1px solid #eb901d;
	border-radius:5px;
	float:left;
	margin-top:28px;
	display:inline;
}
.logininpujt:hover{
	border:1px solid #257da3;
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#aacee0',Direction=135, Strength=5);  
    background-color: #fff;  
    -moz-box-shadow:2px 2px 3px #aacee0; 
    -webkit-box-shadow:2px 2px 3px #aacee0;
    box-shadow:2px 2px 3px #aacee0;
	}
.loginbtn{
	width:110px;
	height:80px;
	line-height:80px;
	float:left;
	padding-left:10px;
}
.loginbtn span a{
	font-size:18px;
	color:#076688;
}
.loginbtn span a:hover{
	color:#e79215;
}

/**********footer bigin****************/
.footwrap{
	width:100%;
	height:80px;
	background:#f2f2f2;
	border-top:1px solid #ccc;
	float: left;
}
.footcon{
	width:1000px;
	height:30px;
	margin:0 auto;
	text-align:center;
	line-height:30px;
	padding-top:10px;
}

.footcon ul li{
	display:inline;
	padding-left:5px;
	padding-right:5px;
	line-height:30px;
	
	}
.footcon ul li a{
	font-size:16px;
	color:#555;
	}
.footcon ul li a:hover{
	text-decoration:underline;
	color:#000;
}
.footconcopyright{
	width:1000px;
	height:35px;
	line-height:35px;
	margin:0 auto;
	font-size:14px;
	color:#333;
	text-align:center;
}
.footconcopyright a:hover{
	color:#217da6;
	}
