@charset "utf-8";
/* CSS Document */

html, body {
  height: 100%;
  min-width: 1024px;
  background-color:#efefef;
  line-height:30px;
  font-family:"微软雅黑"
  font-size:12px;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;

}
link {
  display: none;
}
body{
	margin:0px;
	border:0px;
	padding:0px;
	line-height:30px;
	font-family:"微软雅黑";
	font-size:12px;	
	text-decoration:none;
	}
#header{
	height:30px;
	background-color:#2588b6;
	border-bottom: #73d2ff solid 1px;
	}
.comname{
	float:left;
	margin-left:10px;
	font-size:12px;
	color:#FFFFFF;}
.hrfont{
	float:right;
	margin-right:10px;
	font-size:12px;
	color:#FFF;
}
a.hrft:link,a.hrft:visited{
	font-size:12px;
	color:#FFFFFF;
	text-decoration:none;
	}
a.hrft:hover{
	color:#a9d4e7;
	text-decoration:underline;
	}
#comp_name{
	margin:0px;
	top:31px;
	width:100%;
	height:55px;
	background-color:#2eaae4;
	position:absolute;
	}
img.comn{
	float:right;
	margin-top:7px;
	margin-right:8px;
	opacity:0.8;
	filter:alpha(opacity=80);
	}

#left
{
	background-color:#2eabe5;
	border:#9e9e9e 0.5px solid;
	z-index:305;
	}
#leftDiv2{
	width:100%;
	background-color:#FFFFFF;
	overflow:auto;

	}
	
#touxiang{
	top:46px;
	margin-left:15px;
	position:absolute;
	width:100px;
	height:100px;
	z-index:9998;
	}
img.toux{
	width:82px;
	height:82px;
	border-radius:65px;
	margin:10px;
	border-color:#ffffff;
	 }
#touxzzao{
	margin-left:15px;
	position:absolute;
	width:100px;
	height:100px;
	background-image:url(/images/txyxzzao.png);
	z-index:9999;
	}
#lftlj{
	font-size:12px;
	color:#FFFFFF;
	line-height:25px;
	}
.lftid{
	width:130px;
	font-size:12px;
	color:#FFFFFF;
	line-height:25px;
	}
.yhid{
	font-size:12px;
	color:#ffffff;
	width:91px;
	}
.gerbag{
	font-size:12px;
	color:#FFFFFF;
	margin-top:25px;
	cursor:pointer;
	}
.wangpan{
	font-size:12px;
	color:#FFFFFF;
	margin-top:25px;
	cursor:pointer;
	}
img.leftimg{
	margin-top:8px;
	}
#sidebar
{
    display:block;
	width:400px;
	height:auto;
	background-color:#FFFFFF;
	margin-top:0px;
	margin-left:6px;
	margin-right:6px;
	margin-bottom:10px;
	padding-top:9px;
	padding-bottom:9px;
	}
#filePathDiv
	{
	display:none;
	width:400px;
	height:auto;
	background-color:#FFFFFF;
	margin-top:0px;
	margin-left:6px;
	margin-right:6px;
	margin-bottom:10px;
	padding-top:9px;
	padding-bottom:9px;
	}
.zdhbt2{
	width:221px;
	height:33px;
	background-image:url(/images/zdhbt_bg.jpg);
	margin-left:9px;
	margin-right:8px;
	margin-top:18px;
	margin-bottom:14px;
	display:block;


}
.zdhbt{
	width:221px;

	background-image:url(/images/zdhbt_bg.jpg);
	

}
.zdhbt_font{
	font-size:12px;
	font-weight:bolder;
	color:#FFFFFF;
	margin:48px;
	text-align:center;
	}
.zdhxfl{
	width:221px;
	height:33px;
	margin-top:0px;
	margin-left:9px;
	margin-right:8px;
	margin-bottom:14px;
	background-image:url(/images/zdhfl_bg.jpg)
	}
.zdhxfl_font{
	font-size:12px;
	color:#2f87b7;
	margin:48px;
	text-align:center;
	}
.labelvalue
{
    font-weight:bolder;
	margin-left:10px;
	margin-top:6px;
	font-size:12px;
	color:#2f87b7;
	text-align:center;
}
	
#right{
	width:100%; 
	background:#eFeFeF; 
	position:absolute; 
	left:0;
	}

#right_blue
{
	background-color:#2eaae4;
	border:#9e9e9e 0.5px solid;
	}
#content1{
	width:auto;
	height:auto;
	margin:10px 10px 10px 10px;
	}
.wjlujing{
	height:30px;
	width:auto;
	font:"微软雅黑";
	font-size:12px;
	color:#FFF;
	}
.baikuang{
	width:auto;
	height:auto;
	margin-top:0px;
	background-color:#FFFFFF;
	border:#a9ddf5 solid 1px;
	padding:10px;
	}
.erjicd{
	width:170px;
	height:auto;
	border-left:#d1e8ee solid 1px;
	border-right:#d1e8ee solid 1px;
	border-top:#d1e8ee solid 1px;
	line-height:30px;
	}
.erjicd_bt{
	width:auto;
	height:30px;
	background-color:#a9d4e7;
	border-bottom:#cedbe3 solid 1px;
	padding-left:15px;
	font-size:12px;
	color:#2987bd;
	font-weight:bolder;
	}
.ejcd_btfont{
	font-size:12px;
	color:#2987bd;
	font-weight:bolder;
	}
.ejcd_yb{
	width:auto;
	height:30px;
	padding-left:15px;
	font-size:12px;
	color:#2987bd;
	border-bottom:#d1e8f0 solid 1px;
	}
.ejcd_ybfont{
	font-size:12px;
	color:#2987bd;
	}
.ejcd_xz{
	width:auto;
	height:30px;
	padding-left:15px;
	background-color:#cfe5f0;
	border-bottom:#c7d9e3 solid 1px;
	font-size:12px;
	color:#2987bd;	
	}
.ejcd_xzfont{
	font-size:12px;
	color:#2987bd;		
	}
.benti{
	width:auto;
	background-color:White;
	}
	
#footer
{
    text-align:right;
	height:30px;
	background-color:#2688b7;
	border-top:#64c3f1 solid 1px;
	font-size:12px;
	color:#FFFFFF;
	bottom:0;
	z-index:999;
}

ul li:hover
{
}
span
{
    white-space:nowrap;
}
ul
{
     list-style-type:none; 
}
li
{
    margin:0px; padding:0px;
    list-style-type:none; 
}