    body
    {
    	width:auto;
    	height:auto;
    	padding:0;
    	margin:20px 0;
    	font-size:14px; 
    }
    .page .label .text .checkbox .radio .select .image .date .listtable .column .statistics .isFieldClass .fieldDiv .table .table-bordered .readonlyClass .disabledClass .text_li .passwordClass .getOptionType .haveTimeClass
    {
    	
    	}
   #designDiv .fieldDiv
    {
    	padding:0px;
    	margin:0;
    }
    #designDiv .fieldDiv
    {
		float:left;
		display:inline-block\9;
		float:left\9;
    	list-style-type:none;    	
    	width:300px;  	
		margin-right:25px;
        text-align:left;   
		line-height:32px;
		min-height:32px;
		border: 1px dashed #ff6A00;
		overflow:hidden;
		height:auto;
		
    }
    .selectLi
    {
    	/*border:1px dashed gray;   */
		background:#efefef;
    }   

.l-text{width:151px;}
#formDesign{width:auto;height:100%;overflow:hidden;}
#designDiv{width:auto;height:100%;overflow:hidden;}
#designDiv ul{width:auto;height:auto;overflow:hidden; display:block;border:1px solid #ffffff;} 
#designDiv li
{float:left;min-width:300px;height:auto;margin-right:25px;line-height:25px; overflow:hidden;
border:1px solid #ffffff;
padding-left:3px;padding-right:3px;}
#designDiv ul:hover{background:#efefef;border:1px dashed #D0D0D0;}
#designDiv ul li:hover{background:#ffffef;border:1px dashed #ff6A00;}

/*.l-layout-right{overflow:scroll;}*/
#basePropertiesTable tr{height:25px;}

table tr td,label{font-size:14px; }

#controlToolbox label{height:18px; display:inline-block;*display:inline;padding:5px;padding-left:26px;border:1px solid #ffffff;}
#controlToolbox label:hover{border:1px solid #BED5F3;border-right:1px solid #999999;border-bottom:1px solid #999999;background-url-color:#efefef;}

#controlToolbox #label{background:url(../images/admin/pagesetting/1.gif) no-repeat 5px 5px; }
#controlToolbox #textbox{background:url(../images/admin/pagesetting/2.gif) no-repeat 5px 5px; }
#controlToolbox #checkbox{background:url(../images/admin/pagesetting/3.gif) no-repeat 5px 5px; }
#controlToolbox #radio{background:url(../images/admin/pagesetting/4.gif) no-repeat 5px 5px; }
#controlToolbox #select{background:url(../images/admin/pagesetting/5.gif) no-repeat 5px 5px; }
#controlToolbox #image{background:url(../images/admin/pagesetting/6.gif) no-repeat 5px 5px; }
#controlToolbox #date{background:url(../images/admin/pagesetting/7.gif) no-repeat 5px 5px; }
#controlToolbox #listTable{background:url(../images/admin/pagesetting/8.gif) no-repeat 5px 5px; }
#controlToolbox #tree{background:url(../images/admin/pagesetting/9.gif) no-repeat 5px 5px; }
#controlToolbox #uploadFile{background:url(../images/admin/pagesetting/10.gif) no-repeat 5px 5px; }
#controlToolbox #fileListing{background:url(../images/admin/pagesetting/11.gif) no-repeat 5px 5px; }
#controlToolbox #iframe{background:url(../images/admin/pagesetting/12.gif) no-repeat 5px 5px; }
#controlToolbox #orderNo{background:url(../images/admin/pagesetting/13.gif) no-repeat 5px 5px; }
#controlToolbox #money{background:url(../images/admin/pagesetting/14.gif) no-repeat 5px 5px; }


.l-grid-header-inner{width:auto!important;}
.l-panel table{width:100%;}

